<div class="player-detail__form">
    <form *ngIf="player != null" #f="ngForm" name="form" novalidate
          (ngSubmit)="onSubmit()" [formGroup]="playerFormGroup">

        <div class="buttons-container" *ngIf="visualizationMode !== visualizationModeEnum.Visualization">
            <button type="button" class="btn btn-backward" (click)="cancelEdition()">
                {{'common.cancel' | translate}}
            </button>
            <button type="submit" class="btn btn-forward" [disabled]="!playerFormGroup.valid">
                <span>{{'common.saveChanges' | translate}}</span>
            </button>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <h5>{{'players.detail.personalData' | translate}}</h5>

                <div class="form-group"
                     [class.has-danger]="playerFormGroup.get('name1').errors"
                     [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('name1').disabled">
                    <label for="name1">{{'players.entity.name1' | translate}}</label>
                    <input type="text" id="name1"
                           class="form-control form-control-danger name1-selector"

                           placeholder="{{'players.entity.name1' | translate}}" autocomplete="off"
                           formControlName="name1" [(ngModel)]="player.name1">

                    <span class="form-control-feedback form--error" *ngIf="playerFormGroup.get('name1').hasError('required')">
                        {{'forms.error.requiredField' | translate}}
                    </span>
                    <span class="form-control-feedback form--error" *ngIf="playerFormGroup.get('name1').hasError('pattern')">
                        {{'forms.error.invalidRegex' | translate}}
                    </span>
                </div>

                <div *ngIf="environment.showSecondName"
                     class="form-group"
                     [class.has-danger]="playerFormGroup.get('name2').errors"
                     [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('name2').disabled">
                    <label for="name2">{{'players.entity.name2' | translate}}</label>
                    <input type="text" id="name2"
                           class="form-control form-control-danger name2-selector"
                           placeholder="{{'players.entity.name2' | translate}}" autocomplete="off"
                           formControlName="name2" [(ngModel)]="player.name2">

                    <span class="form-control-feedback form--error" *ngIf="playerFormGroup.get('name2').hasError('pattern')">
                        {{'forms.error.invalidRegex' | translate}}
                    </span>
                </div>

                <div class="form-group"
                     [class.has-danger]="playerFormGroup.get('surname1').errors"
                     [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('surname1').disabled">
                    <label for="surname1">{{'players.entity.surname1' | translate}}</label>
                    <input type="text" id="surname1"
                           class="form-control form-control-danger surname1-selector"
                           placeholder="{{'players.entity.surname1' | translate}}" autocomplete="off"
                           formControlName="surname1" [(ngModel)]="player.surname1">

                    <span class="form-control-feedback form--error" *ngIf="playerFormGroup.get('surname1').hasError('required')">
                        {{'forms.error.requiredField' | translate}}
                    </span>
                    <span class="form-control-feedback form--error" *ngIf="playerFormGroup.get('surname1').hasError('pattern')">
                        {{'forms.error.invalidRegex' | translate}}
                    </span>
                </div>

                <div class="form-group"
                     [class.has-danger]="playerFormGroup.get('surname2').errors"
                     [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('surname2').disabled">
                    <label for="surname2">{{'players.entity.surname2' | translate}}</label>
                    <input type="text" id="surname2"
                           class="form-control form-control-danger surname2-selector"
                           placeholder="{{'players.entity.surname2' | translate}}" autocomplete="off"
                           formControlName="surname2" [(ngModel)]="player.surname2">

                    <span class="form-control-feedback form--error" *ngIf="playerFormGroup.get('surname2').hasError('pattern')">
                        {{'forms.error.invalidRegex' | translate}}
                    </span>
                </div>

                <div class="form-group"
                     [class.has-danger]="playerFormGroup.get('nationality').errors"
                     [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('nationality').disabled">
                    <label for="nationality">{{'players.entity.nationality' | translate}}</label>
                    <select id="nationality"
                            class="form-control form-control-danger custom-select nationality-selector"
                            [(ngModel)]="player.nationality"
                            (change)="onNationalityChange($event.target.value)"
                            formControlName="nationality">
                        <option></option>
                        <option *ngFor="let nationality of countryList" [value]="nationality.value">
                            {{nationality.label}}
                        </option>
                    </select>

                    <span class="form-control-feedback form--error" *ngIf="playerFormGroup.get('nationality').hasError('required')">
                        {{'forms.error.requiredField' | translate}}
                    </span>
                </div>

                <div formGroupName="identityDocument">
                    <div class="form-group"
                         [class.read-only]="visualizationMode == visualizationModeEnum.Edition">
                        <label for="iDType">{{'players.entity.iDType' | translate}}</label>
                        <select id="iDType"
                                class="form-control form-control-danger custom-select id-type-selector"
                                formControlName="type"
                                [value]="player?.identityDocument?.type">
                            <option></option>
                            <option *ngFor="let documentType of documentTypeList" [value]="documentType.value">
                                {{documentType.label}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group"
                         [class.has-danger]="playerFormGroup.get('identityDocument').get('number').errors"
                         [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('identityDocument').get('number').disabled">
                        <label for="iDNumber">{{'players.entity.iDNumber' | translate}}</label>
                        <input type="text" id="iDNumber"
                               class="form-control form-control-danger iDNumber-selector"
                               placeholder="{{'players.entity.iDNumber' | translate}}" autocomplete="off"
                               formControlName="number"
                               [(ngModel)]="player.identityDocument.number">

                        <span class="form-control-feedback form--error"
                              *ngIf="playerFormGroup.get('identityDocument').get('number').hasError('required')">
                                {{'forms.error.requiredField' | translate}}
                        </span>
                    </div>
                </div>

                <div class="form-group" *ngIf="environment.showFiscalData"
                     [class.has-danger]="playerFormGroup.get('fiscalResidence').errors"
                     [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('fiscalResidence').disabled">
                    <label for="fiscalResidence">{{'players.entity.taxResidence' | translate}}</label>
                    <select id="fiscalResidence"
                            class="form-control form-control-danger custom-select fiscal-residence-selector"
                            formControlName="fiscalResidence"
                            [value]="player?.fiscalResidence">
                        <option></option>
                        <option *ngFor="let country of countryList" [value]="country.value">
                            {{country.label}}
                        </option>
                    </select>

                    <span class="form-control-feedback form--error"
                          *ngIf="playerFormGroup.get('fiscalResidence').hasError('required')">
                                {{'forms.error.requiredField' | translate}}
                    </span>
                </div>

                <div class="form-group" *ngIf="environment.showFiscalData"
                     [class.has-danger]="playerFormGroup.get('fiscalRegion').errors"
                     [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('fiscalRegion').disabled">
                    <label for="fiscalRegion">{{'players.entity.taxRegion' | translate}}</label>
                    <select id="fiscalRegion"
                                class="form-control form-control-danger custom-select fiscal-region-selector"
                                formControlName="fiscalRegion"
                                [value]="player?.fiscalRegion">
                        <option></option>
                        <option *ngFor="let region of fiscalRegionList" [value]="region.code">
                                {{region.description}}
                        </option>
                    </select>
                    <span class="form-control-feedback form--error"
                              *ngIf="playerFormGroup.get('fiscalRegion').hasError('required')">
                                    {{'forms.error.requiredField' | translate}}
                    </span>
                </div>

                <div class="form-group"
                     [class.has-danger]="playerFormGroup.get('gender').errors"
                     [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('gender').disabled">
                    <label for="gender">{{'players.entity.gender' | translate}}</label>
                    <select id="gender"
                            class="form-control form-control-danger custom-select gender-selector"
                            formControlName="gender" [(ngModel)]="player.gender">
                        <option></option>
                        <option *ngFor="let gender of genderList" [value]="gender.value">
                            {{gender.label}}
                        </option>
                    </select>
                    <span class="form-control-feedback form--error"
                          *ngIf="playerFormGroup.get('gender').hasError('required')">
                                {{'forms.error.requiredField' | translate}}
                    </span>
                </div>

                <div class="form-group"
                     [class.has-danger]="playerFormGroup.get('birthDate').errors"
                     [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('birthDate').disabled">
                    <label for="birthDate">{{'players.entity.birthDate' | translate}}</label>

                    <input type="text"
                           class="form-control birth-date-selector"
                           placeholder="{{'players.entity.birthDate' | translate}}" autocomplete="off"
                           formControlName="birthDate"
                           [value]="player.birthDate | longDatePipe"
                           *ngIf="visualizationMode === visualizationModeEnum.Visualization || (visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('birthDate').disabled)">

                    <div id="birthDate"
                         *ngIf="visualizationMode !== visualizationModeEnum.Visualization && playerFormGroup.get('birthDate').enabled">
                        <mt-date-input [model]="birthDate"
                                       [showTimeFields]="false"
                                       [hideClearButton]="true"
                                       literalDayCode="{{'common.date.dayCode' | translate}}"
                                       literalYearCode="{{'common.date.yearCode' | translate}}"
                                       (modelUpdated)="onDateInputModelUpdate($event, 'birthDate')">
                        </mt-date-input>

                        <span class="form-control-feedback form--error" *ngIf="playerFormGroup.get('birthDate').hasError('required')">
                            {{'forms.error.requiredField' | translate}}
                        </span>
                        <span class="form-control-feedback form--error" *ngIf="playerFormGroup.get('birthDate').hasError('invalidDateError')">
                            {{'forms.error.invalidDate' | translate}}
                        </span>
                        <span class="form-control-feedback form--error" *ngIf="playerFormGroup.get('birthDate').hasError('userInvalidAgeError')">
                            {{'forms.error.userInvalidAge' | translate}}
                        </span>
                        <span class="form-control-feedback form--error" *ngIf="playerFormGroup.get('birthDate').hasError('userUnderAgeError')">
                            {{'forms.error.userUnderAge' | translate}}
                        </span>
                    </div>
                </div>

                <div formGroupName="identityDocument" *ngIf="environment.showAdditionalDocumentData">
                    <div class="form-group"
                         *ngIf="player.nationality === currentCountryCode"
                         [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('identityDocument').get('birthRegionCode').disabled">
                        <label for="birthDepartment">{{'players.entity.birthDepartment' | translate}}</label>
                        <select id="birthDepartment"
                                formControlName="birthRegionCode"
                                class="form-control custom-select birth-department-selector"
                                [(ngModel)]="player.birthRegionCode"
                                (change)="onBirthDepartmentChange($event.target.value)">
                            <option></option>
                            <option *ngFor="let birthDepartment of regionList" [value]="birthDepartment.code">
                                {{birthDepartment.description}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group"
                         *ngIf="player.nationality === currentCountryCode"
                         [class.has-danger]="playerFormGroup.get('identityDocument').get('birthCityCode').errors"
                         [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('identityDocument').get('birthCityCode').disabled">
                        <label for="birthCity">{{'players.entity.birthPlace' | translate}}</label>
                        <select id="birthCity"
                                class="form-control form-control-danger custom-select birth-city-selector"
                                formControlName="birthCityCode">
                            <option></option>
                            <option *ngFor="let city of birthCityList" [value]="city.code">
                                {{city.description}}
                            </option>
                        </select>

                        <div class="form-control-feedback form--error"
                             *ngIf="playerFormGroup.get('identityDocument').get('birthCityCode').hasError('required')">
                            <span>{{'forms.error.requiredField' | translate}}</span>
                            <span *ngIf="!player.birthRegionCode">
                                {{'players.edit.warning.selectRegion' | translate}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group"
                         *ngIf="player.nationality !== currentCountryCode"
                         [class.has-danger]="playerFormGroup.get('identityDocument').get('birthCountryCode').errors"
                         [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('identityDocument').get('birthCountryCode').disabled">
                        <label for="birthCountry">{{'players.entity.birthPlace' | translate}}</label>
                        <select id="birthCountry"
                                class="form-control form-control-danger custom-select birth-country-selector"
                                formControlName="birthCountryCode">
                            <option></option>
                            <option *ngFor="let country of countryList" [value]="country.value">
                                {{country.label}}
                            </option>
                        </select>

                        <span class="form-control-feedback form--error"
                              *ngIf="playerFormGroup.get('identityDocument').get('birthCountryCode').hasError('required')">
                                {{'forms.error.requiredField' | translate}}
                        </span>
                    </div>
                </div>

                <div formGroupName="identityDocument" *ngIf="environment.showAdditionalDocumentData">
                    <div class="form-group"
                         *ngIf="player.nationality === currentCountryCode"
                         [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('identityDocument').get('issueRegionCode').disabled">
                        <label for="iDIssueDepartment">{{'players.entity.iDIssueDepartment' | translate}}</label>
                        <select id="iDIssueDepartment"
                                formControlName="issueRegionCode"
                                class="form-control custom-select birth-department-selector"
                                [(ngModel)]="player.issueRegionCode"
                                (change)="onIssueDepartmentChange($event.target.value)">
                            <option></option>
                            <option *ngFor="let department of regionList" [value]="department.code">
                                {{department.description}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group"
                         *ngIf="player.nationality === currentCountryCode"
                         [class.has-danger]="playerFormGroup.get('identityDocument').get('issueCityCode').errors"
                         [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('identityDocument').get('issueCityCode').disabled">
                        <label for="iDIssueCity">{{'players.entity.iDIssuePlace' | translate}}</label>
                        <select id="iDIssueCity"
                                class="form-control form-control-danger custom-select ID-issue-city-selector"
                                formControlName="issueCityCode">
                            <option></option>
                            <option *ngFor="let city of issueCityList" [value]="city.code">
                                {{city.description}}
                            </option>
                        </select>
                        <div class="form-control-feedback form--error"
                             *ngIf="playerFormGroup.get('identityDocument').get('issueCityCode').hasError('required')">
                            <span>{{'forms.error.requiredField' | translate}}</span>
                            <span *ngIf="!player.issueRegionCode">
                                {{'players.edit.warning.selectRegion' | translate}}
                            </span>
                        </div>
                    </div>

                    <div class="form-group"
                         *ngIf="player.nationality !== currentCountryCode"
                         [class.has-danger]="playerFormGroup.get('identityDocument').get('expirationDate').errors"
                         [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('identityDocument').get('expirationDate').disabled">
                        <label for="iDExpiryDate">{{'players.entity.iDExpiryDate' | translate}}</label>
                        <input type="text"
                               class="form-control ID-expiry-date-selector"
                               placeholder="{{'players.entity.iDExpiryDate' | translate}}" autocomplete="off"
                               formControlName="expirationDate"
                               [value]="player?.identityDocument?.expirationDate | longDatePipe"
                               *ngIf="visualizationMode === visualizationModeEnum.Visualization || (visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('identityDocument').get('expirationDate').disabled)">

                        <div id="iDExpiryDate"
                             *ngIf="visualizationMode !== visualizationModeEnum.Visualization && playerFormGroup.get('identityDocument').get('expirationDate').enabled">
                            <mt-date-input [model]="iDExpiryDate"
                                           [showTimeFields]="false"
                                           [hideClearButton]="true"
                                           literalDayCode="{{'common.date.dayCode' | translate}}"
                                           literalYearCode="{{'common.date.yearCode' | translate}}"
                                           (modelUpdated)="onDateInputModelUpdate($event, 'expirationDate', 'identityDocument')">
                            </mt-date-input>

                            <span class="form-control-feedback form--error"
                                  *ngIf="playerFormGroup.get('identityDocument').get('expirationDate').hasError('required')">
                                    {{'forms.error.requiredField' | translate}}
                            </span>
                            <span class="form-control-feedback form--error"
                                  *ngIf=" playerFormGroup.get('identityDocument').get('expirationDate').hasError('invalidDateError')">
                                    {{'forms.error.invalidDate' | translate}}
                            </span>
                        </div>
                    </div>

                    <div class="form-group"
                         [class.has-danger]="playerFormGroup.get('identityDocument').get('issueDate').errors"
                         [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('identityDocument').get('issueDate').disabled">
                        <label for="iDIssueDate">{{'players.entity.iDIssueDate' | translate}}</label>
                        <input type="text" class="form-control ID-issue-date-selector"
                               placeholder="{{'players.entity.iDIssueDate' | translate}}" autocomplete="off"
                               formControlName="issueDate"
                               [value]="player?.identityDocument?.issueDate | longDatePipe"
                               *ngIf="visualizationMode === visualizationModeEnum.Visualization || (visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('identityDocument').get('issueDate').disabled)">

                        <div id="iDIssueDate"
                             *ngIf="visualizationMode !== visualizationModeEnum.Visualization && playerFormGroup.get('identityDocument').get('issueDate').enabled">
                            <mt-date-input [model]="iDIssueDate"
                                           [showTimeFields]="false"
                                           [hideClearButton]="true"
                                           literalDayCode="{{'common.date.dayCode' | translate}}"
                                           literalYearCode="{{'common.date.yearCode' | translate}}"
                                           (modelUpdated)="onDateInputModelUpdate($event, 'issueDate', 'identityDocument')">
                            </mt-date-input>

                            <span class="form-control-feedback form--error"
                                  *ngIf="playerFormGroup.get('identityDocument').get('issueDate').hasError('required')">
                                    {{'forms.error.requiredField' | translate}}
                            </span>
                            <span class="form-control-feedback form--error"
                                  *ngIf="playerFormGroup.get('identityDocument').get('issueDate').hasError('invalidDateError')">
                                    {{'forms.error.invalidDate' | translate}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <h5>{{'players.detail.contactData' | translate}}</h5>

                <div class="form-group"
                     [class.has-danger]="playerFormGroup.get('email').errors"
                     [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('email').disabled">
                    <label for="email">{{'players.entity.email' | translate}}</label>
                    <input type="text" id="email"
                           class="form-control form-control-danger email-selector"
                           placeholder="{{'players.entity.email' | translate}}" autocomplete="off"
                           formControlName="email" [(ngModel)]="player.email">
                    <span class="form-control-feedback form--error"
                          *ngIf="playerFormGroup.get('email').hasError('required')">
                                {{'forms.error.requiredField' | translate}}
                        </span>

                    <span class="form-control-feedback form--error"
                          *ngIf="!playerFormGroup.get('email').hasError('required') && playerFormGroup.get('email').hasError('email')">
                                {{'forms.error.invalidEmail' | translate}}
                    </span>
                </div>

                <div class="form-group"
                     [class.has-danger]="playerFormGroup.get('mobilePhoneNumber').errors"
                     [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('mobilePhoneNumber').disabled">
                    <label for="phoneNumber1">{{'players.entity.phoneNumber1' | translate}}</label>
                    <input type="text" id="phoneNumber1"
                           class="form-control form-control-danger phone-number1-selector"
                           placeholder="{{'players.entity.phoneNumber1' | translate}}" autocomplete="off"
                           formControlName="mobilePhoneNumber" [(ngModel)]="player.mobilePhoneNumber">

                    <span class="form-control-feedback form--error" *ngIf="playerFormGroup.get('mobilePhoneNumber').hasError('required')">
                        {{'forms.error.requiredField' | translate}}
                    </span>
                    <span class="form-control-feedback form--error" *ngIf="playerFormGroup.get('mobilePhoneNumber').hasError('pattern')">
                        {{'forms.error.invalidPhoneRegex' | translate}}
                    </span>
                </div>

                <div class="form-group"
                     [class.has-danger]="playerFormGroup.get('homePhoneNumber').errors"
                     [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('homePhoneNumber').disabled">
                    <label for="phoneNumber2">{{'players.entity.phoneNumber2' | translate}}</label>
                    <input type="text" id="phoneNumber2"
                           class="form-control form-control-danger phone-number2-selector"
                           placeholder="{{'players.entity.phoneNumber2' | translate}}" autocomplete="off"
                           formControlName="homePhoneNumber" [(ngModel)]="player.homePhoneNumber">

                    <span class="form-control-feedback form--error" *ngIf="playerFormGroup.get('homePhoneNumber').hasError('required')">
                        {{'forms.error.requiredField' | translate}}
                    </span>
                    <span class="form-control-feedback form--error" *ngIf="playerFormGroup.get('homePhoneNumber').hasError('pattern')">
                        {{'forms.error.invalidPhoneRegex' | translate}}
                    </span>
                </div>

                <div formGroupName="residence">
                    <div class="form-group"
                         [class.has-danger]="playerFormGroup.get('residence').get('countryCode').errors"
                         [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('residence').get('countryCode').disabled">
                        <label for="country">{{'players.entity.country' | translate}}</label>
                        <select id="country" disabled
                                class="form-control form-control-danger custom-select account-status-selector"
                                [value]="player?.residence?.countryCode">
                            <option></option>
                            <option *ngFor="let country of countryList" [value]="country.value">
                                {{country.label}}
                            </option>
                        </select>

                        <span class="form-control-feedback form--error"
                              *ngIf="playerFormGroup.get('residence').get('countryCode').hasError('required')">
                                    {{'forms.error.requiredField' | translate}}
                        </span>
                    </div>

                    <div class="form-group"
                         [class.has-danger]="playerFormGroup.get('residence').get('regionCode').errors"
                         [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('residence').get('regionCode').disabled">
                        <label for="region">{{'players.entity.residenceDepartment' | translate}}</label>
                        <select id="region"
                                class="form-control form-control-danger custom-select region-selector"
                                formControlName="regionCode"
                                [(ngModel)]="player.residence.regionCode"
                                (change)="onResidenceDepartmentChange($event.target.value)">
                            <option></option>
                            <option *ngFor="let region of regionList" [value]="region.code">
                                {{region.description}}
                            </option>
                        </select>
                        <span class="form-control-feedback form--error"
                              *ngIf="playerFormGroup.get('residence').get('regionCode').hasError('required')">
                                    {{'forms.error.requiredField' | translate}}
                        </span>
                    </div>

                    <div class="form-group"
                         [class.has-danger]="playerFormGroup.get('residence').get('cityCode').errors"
                         [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('residence').get('cityCode').disabled">
                        <label for="city">{{'players.entity.homeCity' | translate}}</label>
                        <select id="city"
                                class="form-control form-control-danger custom-select city-selector"
                                formControlName="cityCode"
                                (change)="player.residence.cityCode=$event.target.value">
                            <option></option>
                            <option *ngFor="let city of residenceCityList" [value]="city.code">
                                {{city.description}}
                            </option>
                        </select>
                        <div class="form-control-feedback form--error"
                             *ngIf="playerFormGroup.get('residence').get('cityCode').hasError('required')">
                            <span>{{'forms.error.requiredField' | translate}}</span>
                            <span *ngIf="!player.residence.regionCode">
                                {{'players.edit.warning.selectRegion' | translate}}
                            </span>
                        </div>
                    </div>

                    <div class="form-group"
                         [class.has-danger]="playerFormGroup.get('residence').get('zipCode').errors"
                         [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('residence').get('zipCode').disabled">
                        <label for="zipCode">{{'players.entity.zipCode' | translate}}</label>
                        <input type="text" id="zipCode"
                               class="form-control form-control-danger zipCode-selector"
                               placeholder="{{'players.entity.zipCode' | translate}}"
                               formControlName="zipCode" autocomplete="off"
                               [(ngModel)]="player.residence.zipCode">
                        <span class="form-control-feedback form--error"
                              *ngIf="playerFormGroup.get('residence').get('zipCode').hasError('required')">
                                    {{'forms.error.requiredField' | translate}}
                        </span>
                        <span class="form-control-feedback form--error"
                              *ngIf="playerFormGroup.get('residence').get('zipCode').hasError('invalidZipCodeError')">
                                    {{'forms.error.invalidZipCode' | translate}}
                        </span>
                    </div>

                    <div class="date-input row">
                        <div [ngClass]="{'col-8 pr-0' : environment.showAddressNumber, 'col-12': !environment.showAddressNumber}">
                            <div class="form-group"
                                 [class.has-danger]="playerFormGroup.get('residence').get('address').errors"
                                 [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('residence').get('address').disabled">
                                <label for="address">{{'players.entity.address' | translate}}</label>
                                <input type="text" id="address"
                                       class="form-control form-control-danger address-selector"
                                       placeholder="{{'players.entity.address' | translate}}" autocomplete="off"
                                       formControlName="address"
                                       [(ngModel)]="player.residence.address">
                                <span class="form-control-feedback form--error"
                                      *ngIf="playerFormGroup.get('residence').get('address').hasError('required')">
                                    {{'forms.error.requiredField' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="col" *ngIf="environment.showAddressNumber">
                            <div class="form-group"
                                 [class.has-danger]="playerFormGroup.get('residence').get('addressNumber').errors"
                                 [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('residence').get('addressNumber').disabled">
                                <label for="address">{{'players.entity.addressNumber' | translate}}</label>
                                <input type="text" id="addressNumber"
                                       minlength="1"
                                       maxlength="15"
                                       class="form-control addressNumber-selector"
                                       placeholder="{{'players.entity.addressNumber' | translate}}" autocomplete="off"
                                       formControlName="addressNumber"
                                       [(ngModel)]="player.residence.addressNumber">
                                <span class="form-control-feedback form--error"
                                      *ngIf="playerFormGroup.get('residence').get('addressNumber').hasError('required')">
                                    {{'forms.error.requiredField' | translate}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group"
                     [class.has-danger]="playerFormGroup.get('language').errors"
                     [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('language').disabled">
                    <label for="language">{{'players.entity.language' | translate}}</label>
                    <select id="language"
                            class="form-control form-control-danger custom-select language-selector"
                            formControlName="language"
                            [(ngModel)]="player.language">
                        <option></option>
                        <option *ngFor="let language of languageList" [value]="language.value">
                            {{language.label}}
                        </option>
                    </select>

                    <span class="form-control-feedback form--error"
                          *ngIf="playerFormGroup.get('language').hasError('required')">
                                {{'forms.error.requiredField' | translate}}
                    </span>
                </div>
            </div>

            <div class="col-sm-12 col-lg-4 mt-sm-5 mt-lg-0">
                <h5>{{'players.detail.accountData' | translate}}</h5>

                <div class="form-group"
                     [class.read-only]="visualizationMode !== visualizationModeEnum.Visualization">
                    <label for="creationDate">{{'players.entity.creationDate' | translate}}</label>
                    <input type="text" id="creationDate" disabled
                           class="form-control creation-date-selector"
                           placeholder="{{'players.entity.creationDate' | translate}}"
                           [value]="player.creationDate | longDateTimePipe">
                </div>

                <div class="form-group"
                     [class.read-only]="visualizationMode !== visualizationModeEnum.Visualization">
                    <label for="username">{{'players.entity.username' | translate}}</label>
                    <input type="text" id="username" disabled
                           class="form-control username-selector"
                           placeholder="{{'players.entity.username' | translate}}"
                           [value]="player.username">
                </div>

                <div class="form-group"
                     [class.read-only]="visualizationMode !== visualizationModeEnum.Visualization">
                    <label for="accountCode">{{'players.entity.accountCode' | translate}}</label>
                    <input type="text" id="accountCode" disabled
                           class="form-control game-account-selector"
                           placeholder="{{'players.entity.accountCode' | translate}}"
                           [value]="player.accountCode">
                </div>

                <div class="form-group"
                     [class.read-only]="visualizationMode !== visualizationModeEnum.Visualization">
                    <label for="accountStatus">{{'players.entity.accountStatus' | translate}}</label>
                    <select id="accountStatus" disabled
                            class="form-control custom-select account-status-selector"
                            [value]="player.accountStatus">
                        <option *ngFor="let status of accountStatusList" [value]="status.value">
                            {{status.label}}
                        </option>
                    </select>
                </div>

                <div class="form-group"
                     [class.read-only]="visualizationMode !== visualizationModeEnum.Visualization">
                    <label for="accountStatusReason">{{'players.entity.accountStatusReason' | translate}}</label>
                    <input type="text" id="accountStatusReason" disabled
                           class="form-control accountStatusReason-selector"
                           placeholder="{{'players.entity.accountStatusReason' | translate}}" autocomplete="off"
                           [value]="translateStatusReasonEnum(player.accountStatusReason)">
                </div>

                <div class="form-group"
                     *ngIf="environment.showSecurityQuestionAnswer"
                     [class.read-only]="visualizationMode !== visualizationModeEnum.Visualization">
                    <label for="securityQuestionAnswer">{{'players.entity.securityQuestionAnswer' | translate}}</label>
                    <input type="text" id="securityQuestionAnswer" disabled
                           class="form-control securityQuestionAnswer-selector"
                           placeholder="{{'players.entity.securityQuestionAnswer' | translate}}" autocomplete="off"
                           [value]="player.securityQuestionAnswer">
                </div>

                <div class="form-group"
                     [class.has-danger]="playerFormGroup.get('provenanceCode').errors"
                     [class.read-only]=" visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('provenanceCode').disabled">
                    <label for="provenanceCode">{{'players.entity.provenanceCode' | translate}}</label>
                    <input type="text" id="provenanceCode"
                           class="form-control form-control-danger provenance-code-selector"
                           placeholder="{{'players.entity.provenanceCode' | translate}}" autocomplete="off"
                           formControlName="provenanceCode" [(ngModel)]="player.provenanceCode">

                    <span class="form-control-feedback form--error"
                          *ngIf="playerFormGroup.get('provenanceCode').hasError('required')">
                                {{'forms.error.requiredField' | translate}}
                    </span>
                </div>

                <div class="form-group"
                     [class.read-only]="visualizationMode !== visualizationModeEnum.Visualization">
                    <label for="promotionalCode">{{'players.entity.promotionalCode' | translate}}</label>
                    <input type="text" id="promotionalCode" disabled
                           class="form-control promotional-code-selector"
                           placeholder="{{'players.entity.promotionalCode' | translate}}" autocomplete="off"
                           [value]="player.promotionalCode">
                </div>

                <div class="form-group"
                     [class.read-only]="visualizationMode !== visualizationModeEnum.Visualization">
                    <label for="registrationBonusCode">{{'players.entity.registrationBonusCode'|translate}}</label>
                    <input type="text" id="registrationBonusCode" disabled
                           class="form-control registration-bonus-code-selector"
                           placeholder="{{'players.entity.registrationBonusCode' | translate}}" autocomplete="off"
                           [value]="player.registrationBonusCode">
                </div>

                <div class="form-group"
                     [class.read-only]="visualizationMode !== visualizationModeEnum.Visualization">
                    <label for="referrer">{{'players.entity.referrer' | translate}}</label>
                    <input type="text" id="referrer" disabled
                           class="form-control referrer-selector"
                           placeholder="{{'players.entity.referrer' | translate}}" autocomplete="off"
                           [value]="player.referrer">
                </div>

                <div formGroupName="paymentAccounts">
                    <div *ngFor="let account of player.paymentAccounts" formGroupName="{{account.type}}">
                        <div class="form-group"
                             [class.has-danger]="playerFormGroup.get('paymentAccounts').get(account.type).get('identifier').errors"
                             [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('paymentAccounts').get(account.type).get('identifier').disabled">
                            <label for="identifier">{{account.type}}</label>
                            <input type="text" id="identifier"
                                   class="form-control form-control-danger paypal-identifier-selector"
                                   placeholder="{{account.type}}" autocomplete="off"
                                   formControlName="identifier"
                                   [(ngModel)]="account.identifier">
                            <span class="form-control-feedback form--error"
                                *ngIf="playerFormGroup.get('paymentAccounts').get(account.type).get('identifier').hasError('required')">
                                {{'forms.error.requiredField' | translate}}
                            </span>
                        </div>
                        <div class="form-group"
                             [class.has-danger]="playerFormGroup.get('paymentAccounts').get(account.type).get('reason').errors != null"
                            [hidden]="player.paymentAccounts[0].identifier == originalPlayer.paymentAccounts[0].identifier || (!originalPlayer.paymentAccounts[0].identifier && !player.paymentAccounts[0].identifier)"
                            *ngIf="visualizationMode == visualizationModeEnum.Edition">
                            <label for="reason">{{'players.entity.paymentAccountChangeReason' | translate}}</label>
                            <input type="text" id="reason"
                                   class="form-control form-control-danger paypal-reason-selector"
                                   placeholder="{{'players.entity.paymentAccountChangeReason' | translate}}" autocomplete="off"
                                   formControlName="reason">
                            <span class="form-control-feedback form--error"
                                *ngIf="playerFormGroup.get('paymentAccounts').get(account.type).get('reason').hasError('required')">
                                {{'forms.error.requiredField' | translate}}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group"
                     [class.has-danger]="playerFormGroup.get('verifiedIdentity').errors"
                     [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('verifiedIdentity').disabled">
                    <label for="verifiedIdentity" class="custom-control custom-checkbox">
                        <input type="checkbox" id="verifiedIdentity"
                               class="form-control custom-control-input verified-identity-selector"
                               formControlName="verifiedIdentity"
                               [(ngModel)]="player.verifiedIdentity"
                               [checked]="player.verifiedIdentity">
                        <span class="custom-control-indicator"></span>
                        <span
                            class="custom-control-description">{{'players.entity.verifiedIdentity' | translate}}</span>
                    </label>
                </div>

                <div class="form-group"
                     [class.has-danger]="playerFormGroup.get('receivePromotions').errors"
                     [class.read-only]="visualizationMode == visualizationModeEnum.Edition && playerFormGroup.get('receivePromotions').disabled">
                    <label for="receivePromotions" class="custom-control custom-checkbox">
                        <input type="checkbox" id="receivePromotions"
                               class="form-control custom-control-input receive-promotions-selector"
                               formControlName="receivePromotions"
                               [(ngModel)]="player.receivePromotions"
                               [checked]="player.receivePromotions">
                        <span class="custom-control-indicator"></span>
                        <span
                            class="custom-control-description">{{'players.entity.receivePromotions' | translate}}</span>
                    </label>
                </div>

            </div>
        </div>

        <div class="buttons-container" *ngIf="visualizationMode !== visualizationModeEnum.Visualization">
            <button type="button" class="btn btn-backward" (click)="cancelEdition()">
                {{'common.cancel' | translate}}
            </button>
            <button type="submit" class="btn btn-forward" [disabled]="!playerFormGroup.valid">
                <span>{{'common.saveChanges' | translate}}</span>
            </button>
        </div>

    </form>
</div>
