<div class="campaign-create">
    <mt-wizard [leftButton]="leftButton"
               [literals]="wizardLiterals"
               [footerCssClass]="'footer-wizard'"
               (buttonLeftClick)="onCancelButtonClick()">

        <mt-wizard-step title="{{'campaigns.create.stepOne.stepOneTitle' | translate}}">
            <div class="step">
                <div class="step-title">
                    <span class="step-title-num">{{'campaigns.create.stepOne.stepOne' | translate}}</span>
                    <span>{{'campaigns.create.stepOne.stepOneMsg' | translate}}</span>
                </div>
            </div>
        </mt-wizard-step>

        <mt-wizard-step title="{{'campaigns.create.stepTwo.stepTwoTitle' | translate}}">
            <div class="step">
                <div class="step-title">
                    <span class="step-title-num">{{'campaigns.create.stepTwo.stepTwo' | translate}}</span>
                    <span>{{'campaigns.create.stepTwo.stepTwoMsg' | translate}}</span>
                </div>
            </div>
        </mt-wizard-step>

        <mt-wizard-step title="{{'campaigns.create.stepThree.stepThreeTitle' | translate}}">
            <div class="step">
                <div class="step-title">
                    <span class="step-title-num">{{'campaigns.create.stepThree.stepThree' | translate}}</span>
                    <span>{{'campaigns.create.stepThree.stepThreeMsg' | translate}}</span>
                </div>
            </div>
        </mt-wizard-step>

        <mt-wizard-step title="{{'campaigns.create.stepFour.stepFourTitle' | translate}}">
            <div class="step">
                <div class="step-title">
                    <span class="step-title-num">{{'campaigns.create.stepFour.stepFour' | translate}}</span>
                    <span>{{'campaigns.create.stepFour.stepFourMsg' | translate}}</span>
                </div>
            </div>
        </mt-wizard-step>

        <mt-wizard-step title="{{'campaigns.create.stepFive.stepFiveTitle' | translate}}">
            <div class="step">
                <div class="step-title">
                    <span class="step-title-num">{{'campaigns.create.stepFive.stepFive' | translate}}</span>
                    <span>{{'campaigns.create.stepFive.stepFiveMsg' | translate}}</span>
                </div>
            </div>
        </mt-wizard-step>

        <mt-wizard-step title="{{'campaigns.create.stepSix.stepSixTitle' | translate}}"
                        [nextButton]="saveButton">
            <div class="step">
                <div class="step-title">
                    <span class="step-title-num">{{'campaigns.create.stepSix.stepSix' | translate}}</span>
                    <span>{{'campaigns.create.stepSix.stepSixMsg' | translate}}</span>
                </div>
            </div>
        </mt-wizard-step>

        <mt-wizard-step [isFinalStep]="true" [class]="'final-step'">
        </mt-wizard-step>

    </mt-wizard>
</div>
