@import "./../../../scss/base/_colors.scss";
@import "~mt-web-components/src/themes/mt/shared/colors";
.campaign-create{

  font-size: 16px;
  color: $wizard-title;

  .step-title{
    text-decoration: underline;
    color: $wizard-title;
    font-size: 16px;

    .step-title-num{
      font-weight: 600;
    }
  }

  .step{
    padding-top: 32px;

    .step-container{
      padding: 26px 0 0 24px;

      .step-input{
        width: 184px;
        margin-bottom: 8px;
      }
    }
  }

  .final-step{
    margin: 56px 0 0 64px;
  }

  .footer-wizard{
    padding: 0 10% 0 20%;
  }
}
