@import "~mt-web-components/src/themes/mt/shared/colors";

.pas-checkbox-row{
  display: flex;
  justify-content: space-between;
  background-color: mt-color('neutral','main');
  padding: .3em .7em .3em .7em;
  height: 32px;
  width: 320px;
  margin: 0 38px 0 38px;
}
