//limit-actions corrects the bug produced when adding a dropdown inside a responsible table
.limit-actions {
  min-height: 35px; //height of the dropdown button
  mt-dropdown {
    position: absolute; //Break the layout so the collapsible panel goes above of the table
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .limit-actions {
    min-width: 35px;
  }
}


