<div>
    <div *ngIf="!errorInSearch">
        <mt-table #table [uniqueId]="'player-limits-history'"
                  [loading]="false"
                  [showLoader]="true"
                  [columns]="table_columns"
                  [rows]="table_rows"
                  [literals]="tableLiterals"
                  [enableRowSelection]="enableRowSelection"
                  [rowSelectionMode]="rowSelectionMode"
                  [rowSelectionKey]="rowSelectionKey"
                  [actionButtons]="tableButtons"
                  (selectedRowsChange)="onSelectedRowsChange($event)"
                  [enableDraggableColumns]="true"
                  [enablePagination]="true"
                  [pagingData]="pagingData"
                  (pageChanged)="onPageChanged($event)"
                  (actionButtonClick)="onActionButtonClick($event)"
                  (pageSizeChanged)="onPageSizeChanged($event)">
        </mt-table>
    </div>

    <pas-feedback *ngIf="errorInSearch"
                  [title]="'common.search.error.searchingTitle'"
                  [message]="'common.search.error.searchingSubtitle'"
                  [icon]="'fa-exclamation-circle'">
    </pas-feedback>
</div>
