<div class="current-limits">

    <div *ngIf="errorInSearch">
        <pas-feedback [title]="'common.search.error.searchingTitle'"
                      [message]="'common.search.error.searchingSubtitle'"
                      [icon]="'fa-exclamation-circle'">
        </pas-feedback>
    </div>

    <div *ngIf="!errorInSearch && table_rows!=null">

        <div class="table-container">
            <div class="table-container--responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th class=" table-border-right" rowspan="2">
                            {{"players.responsibleGaming.currentLimits.type"|translate}}
                        </th>
                        <th class=" table-border-right table-border-header" colspan="2" scope='colgroup'>
                            {{"players.responsibleGaming.currentLimits.daily"|translate}}
                        </th>
                        <th class=" table-border-right table-border-header" colspan="2" scope='colgroup'>
                            {{"players.responsibleGaming.currentLimits.weekly"|translate}}
                        </th>
                        <th class=" table-border-header" colspan="2" scope='colgroup'>
                            {{"players.responsibleGaming.currentLimits.monthly"|translate}}
                        </th>
                    </tr>
                    <tr>
                        <th scope='col' class=" table-border-body">
                            {{"players.responsibleGaming.currentLimits.player"|translate}}
                        </th>
                        <th scope='col' class=" table-border-right">
                            {{"players.responsibleGaming.currentLimits.operator"|translate}}
                        </th>
                        <th scope='col' class=" table-border-body">
                            {{"players.responsibleGaming.currentLimits.player"|translate}}
                        </th>
                        <th scope='col' class=" table-border-right">
                            {{"players.responsibleGaming.currentLimits.operator"|translate}}
                        </th>
                        <th scope='col' class=" table-border-body">
                            {{"players.responsibleGaming.currentLimits.player"|translate}}
                        </th>
                        <th scope='col' class="">
                            {{"players.responsibleGaming.currentLimits.operator"|translate}}
                        </th>
                    </tr>
                    </thead>

                    <tbody *ngFor="let row of table_rows;">
                    <tr>
                        <td scope="col" class="table-border-right table-column--flex">
                            <button *mtPermissions="updateLimitPermissions"
                                    [disabled]="!row.operatorLimitId"
                                    class="btn btn-link mr-3"
                                    title="{{'players.responsibleGaming.edit.subtitle' |translate}}"
                                    (click)="updateOperatorLimit(row.operatorLimitId, row.limitType, row.operatorLimitValues)">
                                <i class="fa fa-pencil"></i>
                                {{'common.edit'|translate}}
                            </button>
                            {{row.limitTypeTranslated}}
                        </td>
                        <td scope="col" class="table-border-body numeric">{{row.playerDailyLimit}}</td>
                        <td scope="col" class="table-border-right numeric">{{row.operatorDailyLimit}}</td>
                        <td scope="col" class="table-border-body numeric">{{row.playerWeeklyLimit}}</td>
                        <td scope="col" class="table-border-right numeric">{{row.operatorWeeklyLimit}}</td>
                        <td scope="col" class="table-border-body numeric">{{row.playerMonthlyLimit}}</td>
                        <td scope="col" class="numeric">{{row.operatorMonthlyLimit}}</td>
                    </tr>
                    </tbody>
                    <tbody *ngIf="table_rows.length == 0">
                    <tr>
                        <td colspan="7">{{'players.responsibleGaming.currentLimits.noResults' | translate}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
