@import "~mt-web-components/src/themes/mt/shared/colors";

.current-limits {
  .table-container {
    &--responsive {
      overflow-x: auto;
      width: 100%;
      border: 1px solid mt-color('neutral', 'shadow');
    }

    .table {
      .btn-icon {
        margin-right: 1em;
      }
      .table-border-right {
        border-right: 2px solid #eceeef !important;
      }
      .table-border-header {
        border-bottom: 1px solid #eceeef !important;
      }
      .table-border-body {
        border-right: 1px solid #eceeef !important;
      }
      > thead > tr > th {
        text-align: center;
      }
      &-column--flex {
        display: flex;
        align-items: center;
      }
    }
  }
}

