.responsible-gaming {
  h5 {
    font-size: 18px;
    font-weight: 600;
    color: #253049;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(147, 163, 186, 0.5);
    margin-bottom: 1.2em;
  }
}
