<div class="responsible-gaming">
    <h5>{{'players.responsibleGaming.currentLimits.title' | translate}}</h5>
    <pas-player-limits-table></pas-player-limits-table>

    <h5 class="pt-5">{{'players.responsibleGaming.limitsHistory.title' | translate}}</h5>
    <pas-player-autolimits-history></pas-player-autolimits-history>
</div>
