@import "~mt-web-components/src/themes/mt/shared/colors";
@import "../../../scss/base/_colors.scss";

.blacklist-add {
  color: mt-color('dark','main');

  .title-bar {
    padding: 30px 0 20px 0;
    display: flex;
    margin: 0 30px;
    border-bottom: 1px solid mt-color('neutral','main');

    & h4 {
      margin: 0;
      flex: 1 100;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    & .action-buttons button {
      margin-right: 6px;
    }
  }

  .content {
    padding: 50px 5% 0 5%;

    & .title {
      font-size: 16px;
      text-decoration: underline;
      font-weight: 600;
      margin-bottom: 30px;
    }

    form {
      padding-left: 25px;

      & .upload {
        padding-left: 8px;

        .description {
          margin-bottom: 8px;
        }

        .span-link {
          cursor: pointer;
        }
      }

      i.success{
        color: $chip-activated;
      }

      i.fail{
        color: $chip-deactivated;
      }
    }

    .bottom-bar {
      margin-top: 30px;
      border-top: 1px solid mt-color('neutral','main');
      padding-top: 30px;
      display: flex;

      button {
        margin-left: auto;
      }
    }
  }
}

@media (min-width: 768px) {
  .blacklist-add {
    .content {
      padding: 50px 15% 0 15%;
      form {
        & .upload {
          .csv-upload {
            min-width: 400px;
          }
        }
      }
    }
  }
}
