<div class="blacklist-add">

    <div class="title-bar">
        <h4>
            {{ "players.blacklistAdd.newLinkedPeople" | translate }}
        </h4>
        <div class="action-buttons">
            <button class="btn btn-backward" (click)="onCancel($event)">{{ "common.cancel" | translate }}</button>
            <button class="btn btn-forward" [disabled]="!uploadFileOk" (click)="onSave($event)">{{ "common.save" | translate }}</button>
        </div>
    </div>

    <div class="content">
        <div class="title">
            {{ "players.blacklistAdd.choicesDescription" | translate }}
        </div>
        <form>
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" checked>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">CSV</span>
            </label>
            <div class="upload">
                <div class="col-12 description">
                    <span>{{ "players.blacklistAdd.csvSelect" | translate }}</span>
                    <span class="btn-link span-link" (click)="onDownloadDocument()">({{ "players.blacklistAdd.downloadSampleCSV" | translate }})</span>
                </div>
                <div class="custom-file-upload col-sm-12 col-lg-5 csv-upload">
                    <input class="form-control" [disabled]="true" [value]="inputFileName" />
                    <input class="file-upload" accept=".csv" id="csv-upload" type="file" (change)="onUploadFileChange($event)">
                    <label class="btn btn-action" for="csv-upload">{{ "common.upload" | translate }}</label>
                </div>
                <div class="col-12">
                    <p *ngIf="successMessage">
                        <i class='fa fa-check-circle success'></i>&nbsp;&nbsp;
                        {{ successMessage }}.
                        <span class="btn-link span-link" (click)="onFileRemoveClick()">&nbsp;
                        {{ "common.remove" | translate }}</span>
                    </p>
                    <p *ngIf="errorMessage">
                        <i class='fa fa-times-circle fail'></i>&nbsp;&nbsp;
                        {{ errorMessage }}.
                    </p>
                </div>
            </div>
        </form>
        <div class="bottom-bar">
            <button class="btn btn-forward" [disabled]="!uploadFileOk" (click)="onSave($event)">{{ "common.save" | translate }}</button>
        </div>
    </div>

</div>
