<div class="modal-header">
    <h4 class="modal-title">{{'players.bonuses.addBonus.title' | translate}}</h4>
    <button type="button" class="close" aria-label="Close"
        (click)="activeModal.close('CANCEL')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body add-bonus">
    <div *ngIf="currentStep === playerAddBonusStepEnum.Select">
        <div *ngIf="applicableBonuses.length">
            <p>{{"players.bonuses.addBonus.selectBonus" | translate}}</p>
            <div class="form-group">
                <select class="form-control custom-select"
                        [(ngModel)]="selectedBonus">
                    <option *ngFor="let option of applicableBonuses" [value]="option.bonusKey">{{option.displayName}}</option>
                </select>
            </div>

            <p>{{'players.bonuses.addBonus.bonusAmount' | translate}}</p>
            <div class="form-group col-5 p-0">
                <div class="input-group">
                    <input type="number" class="form-control"
                        min="0"
                        [(ngModel)]="selectedBonusAmount">
                    <div class="input-group-addon">{{currencyCode}}</div>
                </div>
            </div>

            <p>{{'players.bonuses.addBonus.reason' | translate}}
                <small>({{'players.bonuses.addBonus.reasonHint' | translate}})</small>
            </p>
            <div class="form-group">
                <textarea rows="2" class="form-control" [(ngModel)]="selectedReason"></textarea>
            </div>
        </div>
        <div *ngIf="!applicableBonuses.length">
            <p class="add-bonus__info m-0">{{'players.bonuses.addBonus.noApplicableBonuses' | translate}}</p>
        </div>
    </div>

    <div *ngIf="currentStep === playerAddBonusStepEnum.Confirm">
        <p class="add-bonus__info m-0">{{confirmationMsg}}</p>
    </div>
</div>

<div class="modal-footer">
    <div *ngIf="currentStep === playerAddBonusStepEnum.Select">
        <button class="btn btn-backward" type="button" (click)="activeModal.close('CANCEL')">
            {{'common.cancel' | translate}}
        </button>

        <button *ngIf="applicableBonuses.length" class="btn btn-forward" type="button" (click)="nextStep()" [disabled]="!canDoAssignment()">
                {{'common.confirm' | translate}}
        </button>
    </div>

    <div *ngIf="currentStep === playerAddBonusStepEnum.Confirm">
        <button class="btn btn-backward" type="button" (click)="prevStep()">
            {{'common.back' | translate}}
        </button>

        <button class="btn btn-forward" type="button" (click)="onConfirmationClick()">
            {{'players.bonuses.addBonus.confirm' | translate}}
        </button>
    </div>
</div>
