<div class="modal-header">
    <h4 class="modal-title">{{'players.detail.manualAdjustment.manualAdjustment' | translate}}</h4>
    <button type="button" class="close" aria-label="Close"
        (click)="activeModal.close('CANCEL')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body manual_adjustment">
    <div class="manual_adjustment__select" *ngIf="currentStep == stepEnum.SELECT">
        <div class="row">
            <div class="col-sm-6">
                <p>{{'transactions.entity.transactionType' | translate}}</p>
                <div class="form-group custom-controls-stacked">
                    <ng-container *ngFor="let txType of transactionTypeList">
                        <label class="custom-control custom-radio"
                               [hidden]="playerBalance == 0 && txType.value == txTypeEnum.Withdrawal">
                            <input type="radio" class="custom-control-input"
                                   [id]="'radio_' + txType.value"
                                   [value]="txType.value"
                                   [disabled]="playerBalance == 0"
                                   [(ngModel)]="selectedTransactionType"
                                   (ngModelChange)="updatePaymentMethodsList()">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{txType.label}}</span>
                        </label>
                    </ng-container>
                </div>
            </div>

            <div class="col-sm-6 mb-4 mb-sm-0">
                <p>{{'players.detail.manualAdjustment.amount'| translate}}</p>
                <div class="input-group" [ngClass]="{'has-danger' : isInvalidAmount()}">
                    <input type="number" class="form-control" [(ngModel)]="selectedAmount" min="0"
                           (keypress)="onAmountKeyPressed()">
                    <div class="input-group-addon">{{currencyCode}}</div>
                </div>
                <div class="form-group" *ngIf="invalidAmountMsg" [ngClass]="{'has-danger' : isInvalidAmount()}">
                    <span class="form-control-feedback form--error">{{invalidAmountMsg}}</span>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>{{'transactions.entity.paymentMethod' | translate}}</p>
                <div class="form-group">
                    <select class="form-control custom-select" [(ngModel)]="selectedPaymentMethod">
                        <option value="null" disabled>{{'common.emptyOption' | translate}}</option>
                        <option *ngFor="let paymentMethod of paymentMethodList"
                                [value]="paymentMethod.value">{{paymentMethod.label}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>{{'players.detail.manualAdjustment.reason'| translate}}
                    <small>({{'players.detail.manualAdjustment.reasonHint'|translate}})</small>
                </p>
                <div class="form-group">
                    <textarea rows="2" class="form-control" [(ngModel)]="selectedReason"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="manual_adjustment__confirm" *ngIf="currentStep == stepEnum.CONFIRM">
        <div class="summary">
            <span *ngIf="selectedTransactionType == txTypeEnum.Deposit" class="deposit-icon fa-stack fa-lg">
                  <i class="fa fa-arrow-down fa-stack-1x"></i>
                  <i class="fa fa-money fa-stack-1x"></i>
            </span>

            <span *ngIf="selectedTransactionType == txTypeEnum.Withdrawal" class="withdrawal-icon fa-stack fa-lg">
                  <i class="fa fa-arrow-down fa-stack-1x"></i>
                  <i class="fa fa-money fa-stack-1x"></i>
            </span>

            <span>{{'players.detail.manualAdjustment.msgSummaryAction' | translate:summaryMessageOperation}}</span>
        </div>
        <p>{{'players.detail.manualAdjustment.msgSummaryAfterAction' | translate:summaryMessageResult}}</p>
        <div class="error-message" *ngIf="errorMessage">
            <i class="fa fa-exclamation-circle"></i>
            <span>{{errorMessage}}</span>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div *ngIf="currentStep == stepEnum.SELECT">
        <button class="btn btn-backward" type="button" (click)="activeModal.close('CANCEL')">
            {{'common.cancel' | translate}}
        </button>
        <button class="btn btn-forward" type="button" [disabled]="!canDoManualAdjustment()"
                (click)="nextStep()">{{'common.confirm' | translate}}
        </button>
    </div>

    <div *ngIf="currentStep == stepEnum.CONFIRM">
        <button class="btn btn-backward" type="button" (click)="previousStep()">
            {{'common.back' | translate}}
        </button>
        <button class="btn btn-forward" type="button" [disabled]="errorMessage"
                (click)="onConfirmManualAdjustment()">{{'players.detail.manualAdjustment.doManualAdjustment' |
            translate}}
        </button>
    </div>
</div>
