@import "~mt-web-components/src/themes/mt/shared/colors";

.manual_adjustment {
  &__confirm {
    text-align: center;
    .summary {
      background-color: mt-color("neutral");
      border:1px solid mt-color("neutral","accent");
      text-align: center;
      padding: 1em;
      margin: 0 0 1.5em 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .deposit-icon {
        margin-right: .5em;

        .fa-arrow-down {
          margin-top: -15px;
          color: mt-color('sky');
        }
        .fa-money {
          transform: rotate(-5deg);
          font-size: 30px;
          color: mt-color("dark");
          margin-top: 5px;
        }
      }

      .withdrawal-icon {
        margin-right: .5em;
        margin-bottom: .5em;
        .fa-arrow-down {
          margin-top: 25px;
          color: mt-color('sky');
        }
        .fa-money {
          transform: rotate(-5deg);
          font-size: 30px;
          color: mt-color("dark");
          margin-top: 2px;
        }
      }
    }
    .error-message{
      padding: 1em 2em;
      margin-top: 2em;
      margin: 2em -1em 0 -1em;
      color: mt-color('white');
      background-color: mt-color('danger');
      align-items: center;
      display: flex;
      .fa{
        font-size: 3em;
        margin-right: 15px;
      }
    }
  }
}
