@import "~mt-web-components/src/themes/mt/shared/colors";
@import "./../../../../scss/base/_colors.scss";

.change-status{

  &__select{
    .custom-controls-stacked{
      margin-left: 1em;
      .custom-control{
        margin-bottom: .5rem;
      }
      .custom-control-description{
        margin-top: 1px;
      }
    }
    .datepicker-container{
      margin-left: 1.5em;
    }
  }

  &__confirm{
    .summary{
      text-align: center;
      padding: 1em;
      margin-bottom: 1.5em;
      margin-left:15%;
      i{
        margin: 0 10px;
        color: $change-status-arrow;
        float:left;
      }
    }
    .summary-footer{
      background-color: mt-color("neutral");
      color: mt-color("dark","main");
      border:1px solid mt-color("neutral","accent");
      font-size: 12px;
      text-align: left;
      padding: 2px;
      margin-bottom: 1.5em;
      display: flex;
      i{
        margin: 0 10px;
        padding-top:3px;
      }
    }
    .summary-selfexclusion{
      margin-bottom: 1.5em;
    }
  }

  .chip{
    padding: 2px 4px;
    line-height: 16px;
    width: 128px;
    height: 20px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    border-radius: 1px;
    float:left;
    &--activated{
      color: $chip-white;
      background-color: $chip-activated;
    }
    &--blocked{
      color: $chip-white;
      background-color: $chip-blocked;
    }
    &--securityblocked{
      color: $chip-white;
      background-color: $chip-securityblocked;
    }
    &--closed{
      color: $chip-white;
      background-color: $chip-closed;
    }
    &--frozen{
      color: $chip-white;
      background-color: $chip-frozen;
    }
    &--deactivated{
      color: $chip-white;
      background-color: $chip-deactivated;
    }
    &--confirmed{
      color: $chip-white;
      background-color: $chip-confirmed;
    }
    &--blacklisted{
      color: $chip-white;
      background-color: $chip-blacklisted;
    }
    &--new{
      color: $chip-new;
      background-color: $chip-white;
      border: solid 1px $chip-new;
    }
    &--selfexcluded{
      color: $chip-selfexcluded;
      background-color: $chip-white;
      border: solid 1px $chip-selfexcluded;
    }
  }

}
