<div class="modal-header">
    <h4 class="modal-title">{{"players.detail.changeStatus.changeStatusTo" | translate}}
        {{player?.name1}} {{player?.name2}} {{player?.surname1}} {{player?.surname2}}</h4>
    <button type="button" class="close" aria-label="Close"
        (click)="activeModal.close('CANCEL')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body change-status">

    <div class="change-status__select" *ngIf="currentStep == changeStatusStepEnum.SELECT">
        <p>{{"players.detail.changeStatus.chooseStatusMsg" | translate}}</p>

        <div class="form-group custom-controls-stacked">

            <ng-container *ngFor="let targetStatus of targetStates">
                <label class="custom-control custom-radio" *ngIf="canShowTargetStatus(targetStatus)">
                    <input type="radio" class="custom-control-input"
                           [id]="'radio_'+targetStatus"
                           [(ngModel)]="selectedStatus"
                           [value]="targetStatus"
                           (click)="onStatusSelected(targetStatus)">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{translateStatus(targetStatus)}}</span>
                </label>
            </ng-container>
            <label class="custom-control custom-radio" *ngIf="selfExclusionAvailable">
                <input type="radio" class="custom-control-input"
                       [id]="'radio_selfexclusion'"
                       [(ngModel)]="selfExclusionSelected"
                       [value]="true"
                       (click)="onSelfExcludedSelection()">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{'players.selfExclusion.title' | translate}}</span>
            </label>
            <div *ngIf="selfExclusionAvailable" class="datepicker-container">
                <mt-date-time-picker placeholder="{{ 'common.chooseDate' | translate }}"
                                     [min]="selfExclusionMinDate"
                                     [disabled]="!selfExclusionSelected"
                                     (dateChange)="selfExclusionDate = $event">
                </mt-date-time-picker>
            </div>

        </div>

    </div>

    <div class="change-status__confirm" *ngIf="currentStep == changeStatusStepEnum.CONFIRM">

        <ng-container *ngTemplateOutlet="confirmationMessageTemplate"></ng-container>

        <div *ngIf="reasonFieldVisible">
            <p>{{"players.detail.changeStatus.chooseChangeReasonMsg" | translate}}</p>
            <div class="form-group">
                <select class="form-control custom-select"
                        [(ngModel)]="selectedChangeReason">
                    <option *ngFor="let option of statusChangeReasons" [value]="option.value">{{option.label}}</option>
                </select>
            </div>
            <p>{{"players.detail.changeStatus.messageConfirmChanges" | translate}}</p>
        </div>

    </div>
</div>

<div class="modal-footer">
    <div *ngIf="currentStep == changeStatusStepEnum.SELECT">
        <button class="btn btn-backward" type="button" (click)="activeModal.close('CANCEL')">
            {{'common.cancel' | translate}}
        </button>
        <button class="btn btn-forward" type="button" [disabled]="(!selectedStatus && !selfExclusionSelected) || (selfExclusionSelected && !selfExclusionDate)"
                (click)="onFirstStepConfirmed()">{{'common.confirm' | translate}}
        </button>
    </div>

    <div *ngIf="currentStep == changeStatusStepEnum.CONFIRM">
        <button class="btn btn-backward" type="button" (click)="currentStep = changeStatusStepEnum.SELECT">
            {{'common.back' | translate}}
        </button>
        <button class="btn btn-forward" type="button" [disabled]="(!selectedStatus && !selfExclusionSelected) || (reasonFieldVisible && !selectedChangeReason)"
                (click)="onConfirmStatusChange()">{{'players.detail.changeStatus.changeStatus' | translate}}
        </button>
    </div>
</div>

<ng-template #confirmationMessageClose>
    <p>{{"players.detail.changeStatus.closing.warnMsg" | translate}}</p>
    <div class="summary">
        <div *ngIf="player.selfExcluded" [class]="'chip chip--selfexcluded'">{{'players.entity.selfExcluded' | translate}}</div>
        <div *ngIf="!player.selfExcluded" [class]="'chip chip--' + player.accountStatus.toString().toLowerCase()">{{translateStatus(player.accountStatus)}}</div>
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        <div [class]="'chip chip--' + selectedStatus.toString().toLowerCase()">{{translateStatus(selectedStatus)}}</div>
    </div>
    <div class="summary-footer">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        <div>
            <p>{{"players.detail.changeStatus.closing.meaningMsg" | translate}}</p>
            <ul>
                <li>{{"players.detail.changeStatus.closing.deletedMsg" | translate}}</li>
                <li>{{"players.detail.changeStatus.closing.emailMsg" | translate}}</li>
            </ul>
        </div>
    </div>
</ng-template>

<ng-template #confirmationMessageDeactivate>
    <p>{{"players.detail.changeStatus.deactivating.warnMsg" | translate}}</p>
    <div class="summary">
        <div *ngIf="player.selfExcluded" [class]="'chip chip--selfexcluded'">{{'players.entity.selfExcluded' | translate}}</div>
        <div *ngIf="!player.selfExcluded" [class]="'chip chip--' + player.accountStatus.toString().toLowerCase()">{{translateStatus(player.accountStatus)}}</div>
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        <div [class]="'chip chip--' + selectedStatus.toString().toLowerCase()">{{translateStatus(selectedStatus)}}</div>
    </div>
    <div class="summary-footer">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        <span>
            {{"players.detail.changeStatus.deactivating.consequencesMsg" | translate:targetStatusPermissions}}
        </span>
    </div>
</ng-template>

<ng-template #confirmationMessageBlock>
    <p>{{"players.detail.changeStatus.blocking.warnMsg" | translate}}</p>
    <div class="summary">
        <div *ngIf="player.selfExcluded" [class]="'chip chip--selfexcluded'">{{'players.entity.selfExcluded' | translate}}</div>
        <div *ngIf="!player.selfExcluded" [class]="'chip chip--' + player.accountStatus.toString().toLowerCase()">{{translateStatus(player.accountStatus)}}</div>
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        <div [class]="'chip chip--' + selectedStatus.toString().toLowerCase()">{{translateStatus(selectedStatus)}}</div>
    </div>
    <div class="summary-footer">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        <span>
            {{"players.detail.changeStatus.blocking.consequencesMsg" | translate:targetStatusPermissions}}
        </span>
    </div>
</ng-template>

<ng-template #confirmationMessageActivate>
    <p *ngIf="reasonFieldVisible">{{"players.detail.changeStatus.activating.warnMsg" | translate}}</p>
    <p *ngIf="!reasonFieldVisible">{{"players.detail.changeStatus.activating.warnWithEmailMsg" | translate}}</p>
    <div class="summary">
        <div *ngIf="player.selfExcluded" [class]="'chip chip--selfexcluded'">{{'players.entity.selfExcluded' | translate}}</div>
        <div *ngIf="!player.selfExcluded" [class]="'chip chip--' + player.accountStatus.toString().toLowerCase()">{{translateStatus(player.accountStatus)}}</div>
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        <div [class]="'chip chip--' + selectedStatus.toString().toLowerCase()">{{translateStatus(selectedStatus)}}</div>
    </div>
    <div class="summary-footer">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        <span>
            {{"players.detail.changeStatus.activating.consequencesMsg" | translate:targetStatusPermissions}}
        </span>
    </div>
</ng-template>

<ng-template #confirmationMessageRevoke>
    <p>{{"players.selfExclusion.revokeMessageConfirmation" | translate}}</p>
    <div class="summary">
        <div *ngIf="player.selfExcluded" [class]="'chip chip--selfexcluded'">{{'players.entity.selfExcluded' | translate}}</div>
        <div *ngIf="!player.selfExcluded" [class]="'chip chip--' + player.accountStatus.toString().toLowerCase()">{{translateStatus(player.accountStatus)}}</div>
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        <div [class]="'chip chip--' + selectedStatus.toString().toLowerCase()">{{translateStatus(selectedStatus)}}</div>
    </div>
    <div class="summary-footer">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        <span>
            {{"players.detail.changeStatus.activating.consequencesMsg" | translate:targetStatusPermissions}}
        </span>
    </div>
</ng-template>

<ng-template #selfExclusionStatusTemplate>
    <div class="chip chip--selfexcluded">{{"players.entity.selfExcluded" | translate}}</div>
</ng-template>

<ng-template #confirmationMessageSelfExclude>
    <span>{{"players.selfExclusion.selfExcludeMessage" | translate}}</span>
    <div class="self-exclusion-details-table-container summary-selfexclusion">
        <mt-table [uniqueId]="'self-exclusion-details-table'"
                  [loading]="false"
                  [showLoader]="false"
                  [columns]="tableColumns"
                  [rows]="tableRows"
                  [literals]="tableLiterals"
                  [enableDraggableColumns]="false"
                  [enableColumnsVisibilityEdition]="false"
                  [enablePagination]="false"
                  [enableRowSelection]="false">
        </mt-table>
    </div>
    <p>{{"players.detail.changeStatus.messageConfirmChanges" | translate}}</p>
</ng-template>

<ng-template #confirmationMessageGeneric>
    <p>{{"players.detail.changeStatus.generic.warnMsg" | translate:targetStatusTranslated}}</p>
    <div class="summary">
        <div *ngIf="player.selfExcluded" [class]="'chip chip--selfexcluded'">{{'players.entity.selfExcluded' | translate}}</div>
        <div *ngIf="!player.selfExcluded" [class]="'chip chip--' + player.accountStatus.toString().toLowerCase()">{{translateStatus(player.accountStatus)}}</div>
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        <div [class]="'chip chip--' + selectedStatus.toString().toLowerCase()">{{translateStatus(selectedStatus)}}</div>
    </div>
    <div class="summary-footer">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        <span>
            {{"players.detail.changeStatus.generic.consequencesMsg" | translate}}
        </span>
    </div>
</ng-template>
