<div class="campaign-details__form">
    <form *ngIf="campaign != null" #f="ngForm" name="form" novalidate (ngSubmit)="onSubmit(campaignFormGroup)" [formGroup]="campaignFormGroup">

        <div class="buttons-container" *ngIf="visualizationMode !== visualizationModeEnum.Visualization">
            <button type="button" class="btn btn-backward" (click)="cancelEdition()">
                {{'common.cancel' | translate}}
            </button>
            <button type="submit" class="btn btn-forward" [disabled]="!campaignFormGroup.valid">
                <span>{{'common.saveChanges' | translate}}</span>
            </button>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <h5>{{'campaigns.details.basicData' | translate}}</h5>

                <div class="form-group" [ngClass]="{'has-danger': campaignFormGroup.get('campaignName').errors}">
                    <label for="campaignName">{{'campaigns.entity.name' | translate}}</label>
                    <input type="text" id="campaignName" class="form-control form-control-danger campaignName-selector" [ngClass]="{'read-only': visualizationMode == visualizationModeEnum.Edition && campaignFormGroup.get('campaignName').disabled}"
                        placeholder="{{'campaigns.entity.name' | translate}}" autocomplete="off" formControlName="campaignName"
                        [(ngModel)]="campaign.campaignName">
                    <span class="form-control-feedback form--error" *ngIf="campaignFormGroup.get('campaignName').hasError('required')">
                        {{'forms.error.requiredField' | translate}}
                    </span>
                </div>

                <div class="form-group" [ngClass]="{'has-danger': campaignFormGroup.get('startDate').errors}">
                    <label for="startDate">{{'campaigns.entity.startDate' | translate}}</label>
                    <input type="text" class="form-control startDate-selector" [ngClass]="{'read-only': visualizationMode == visualizationModeEnum.Edition && campaignFormGroup.get('startDate').disabled}"
                        placeholder="{{'campaigns.entity.startDate' | translate}}" autocomplete="off" formControlName="startDate"
                        [value]="campaign.startDate | longDatePipe" *ngIf="visualizationMode === visualizationModeEnum.Visualization || (visualizationMode == visualizationModeEnum.Edition && campaignFormGroup.get('startDate').disabled)">
                    <div id="startDate" *ngIf="visualizationMode !== visualizationModeEnum.Visualization && campaignFormGroup.get('startDate').enabled">
                        <mt-date-input [model]="startDate" [showTimeFields]="false" literalDayCode="{{'common.date.dayCode' | translate}}"
                            literalYearCode="{{'common.date.yearCode' | translate}}" (modelUpdated)="onDateInputModelUpdate($event, 'startDate')"></mt-date-input>
                        <span class="form-control-feedback form--error" *ngIf="campaignFormGroup.get('startDate').hasError('required')">
                            {{'forms.error.requiredField' | translate}}
                        </span>
                        <span class="form-control-feedback form--error" *ngIf="campaignFormGroup.get('startDate').hasError('invalidDateError')">
                            {{'forms.error.invalidDate' | translate}}
                        </span>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-danger': campaignFormGroup.get('endDate').errors}">
                    <label for="endDate">{{'campaigns.entity.endDate' | translate}}</label>
                    <input type="text" class="form-control endDate-selector" [ngClass]="{'read-only': visualizationMode == visualizationModeEnum.Edition && campaignFormGroup.get('endDate').disabled}"
                        placeholder="{{'campaigns.entity.endDate' | translate}}" autocomplete="off" formControlName="endDate"
                        [value]="campaign.endDate | longDatePipe" *ngIf="visualizationMode === visualizationModeEnum.Visualization || (visualizationMode == visualizationModeEnum.Edition && campaignFormGroup.get('endDate').disabled)">
                    <div id="endDate" *ngIf="visualizationMode !== visualizationModeEnum.Visualization && campaignFormGroup.get('endDate').enabled">
                        <mt-date-input [model]="endDate" [showTimeFields]="false" literalDayCode="{{'common.date.dayCode' | translate}}"
                            literalYearCode="{{'common.date.yearCode' | translate}}" (modelUpdated)="onDateInputModelUpdate($event, 'endDate')"></mt-date-input>
                        <span class="form-control-feedback form--error" *ngIf="campaignFormGroup.get('endDate').hasError('required')">
                            {{'forms.error.requiredField' | translate}}
                        </span>
                        <span class="form-control-feedback form--error" *ngIf="campaignFormGroup.get('endDate').hasError('invalidDateError')">
                            {{'forms.error.invalidDate' | translate}}
                        </span>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-danger': campaignFormGroup.get('daysToExpiration').errors}">
                    <label for="address">{{'campaigns.entity.daysToExpiration' | translate}}</label>
                    <input type="text" id="daysToExpiration" minlength="1" maxlength="15" class="form-control daysToExpiration-selector" [ngClass]="{'read-only': visualizationMode == visualizationModeEnum.Edition && campaignFormGroup.get('daysToExpiration').disabled}"
                        placeholder="{{'campaigns.entity.daysToExpiration' | translate}}" autocomplete="off" formControlName="daysToExpiration"
                        [(ngModel)]="campaign.daysToExpiration">
                    <span class="form-control-feedback form--error" *ngIf="campaignFormGroup.get('daysToExpiration').hasError('required')">
                        {{'forms.error.requiredField' | translate}}
                    </span>
                </div>

            </div>

            <div class="col-sm-6 col-lg-4">
                <h5>{{'campaigns.details.gameData' | translate}}</h5>

                <div class="form-group">
                    <label for="gameSubtypes">{{'campaigns.entity.gameSubtypes' | translate}}</label>
                    <textarea rows="5" id="gameSubtypes" disabled class="form-control gameSubtypes-selector" [ngClass]="{'read-only': visualizationMode !== visualizationModeEnum.Visualization}"
                        placeholder="{{'campaigns.entity.gameSubtypes' | translate}}" [value]="campaign.gameSubtypes" style="height: 195px !important;"></textarea>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 mt-sm-5 mt-lg-0">
                <h5>{{'campaigns.details.bonusData' | translate}}</h5>

                <div class="form-group">
                    <label for="trigger">{{'campaigns.entity.trigger' | translate}}</label>
                    <input type="text" id="trigger" disabled class="form-control trigger-selector" [ngClass]="{'read-only': visualizationMode !== visualizationModeEnum.Visualization}"
                        placeholder="{{'campaigns.entity.trigger' | translate}}" [value]="campaign.triggerLabel">
                </div>

                <div class="form-group">
                    <label for="bonusAmountCalculation">{{'campaigns.entity.bonusAmountCalculation' | translate}}</label>
                    <input type="text" id="bonusAmountCalculation" disabled class="form-control bonusAmountCalculation-selector" [ngClass]="{'read-only': visualizationMode !== visualizationModeEnum.Visualization}"
                        placeholder="{{'campaigns.entity.bonusAmountCalculation' | translate}}" [value]="getBonusAmountCalculationTranslated()">
                </div>

                <div *ngIf="campaign.trigger === 'RegisterWalletPlayer'">

                    <div class="form-group">
                        <label for="fixedAmount1">{{'campaigns.entity.fixedAmount' | translate}}</label>
                        <input type="text" id="fixedAmount1" disabled class="form-control fixedAmount1-selector" [ngClass]="{'read-only': visualizationMode !== visualizationModeEnum.Visualization}"
                            placeholder="{{'campaigns.entity.fixedAmount' | translate}}" [value]="campaign.fixedAmount">
                    </div>

                    <div class="form-group">
                        <label for="promotionalCode1">{{'campaigns.entity.promotionalCode' | translate}}</label>
                        <input type="text" id="promotionalCode1" disabled class="form-control promotionalCode1-selector" [ngClass]="{'read-only': visualizationMode !== visualizationModeEnum.Visualization}"
                            placeholder="{{'campaigns.entity.promotionalCode' | translate}}" [value]="campaign.promotionalCode">
                    </div>

                </div>

                <div *ngIf="campaign.trigger.includes('DepositActivator') && campaign.fixedAmount">

                    <div class="form-group">
                        <label for="fixedAmount2">{{'campaigns.entity.fixedAmount' | translate}}</label>
                        <input type="text" id="fixedAmount2" disabled class="form-control fixedAmount2-selector" [ngClass]="{'read-only': visualizationMode !== visualizationModeEnum.Visualization}"
                            placeholder="{{'campaigns.entity.fixedAmount' | translate}}" [value]="campaign.fixedAmount">
                    </div>

                </div>

                <div *ngIf="campaign.trigger.includes('DepositActivator') && campaign.percentAmount">

                    <div class="form-group">
                        <label for="percentAmount">{{'campaigns.entity.percentAmount' | translate}}</label>
                        <input type="text" id="percentAmount" disabled class="form-control percentAmount-selector" [ngClass]="{'read-only': visualizationMode !== visualizationModeEnum.Visualization}"
                            placeholder="{{'campaigns.entity.percentAmount' | translate}}" [value]="campaign.percentAmount">
                    </div>

                    <div class="form-group">
                        <label for="maximumAmountToReceive">{{'campaigns.entity.maximumAmountToReceive' | translate}}</label>
                        <input type="text" id="maximumAmountToReceive" disabled class="form-control maximumAmountToReceive-selector" [ngClass]="{'read-only': visualizationMode !== visualizationModeEnum.Visualization}"
                            placeholder="{{'campaigns.entity.maximumAmountToReceive' | translate}}" [value]="campaign.maximumAmountToReceive">
                    </div>

                </div>

                <div *ngIf="campaign.trigger.includes('DepositActivator')">

                    <div class="form-group">
                        <label for="minimumDepositAmount">{{'campaigns.entity.minimumDepositAmount' | translate}}</label>
                        <input type="text" id="minimumDepositAmount" disabled class="form-control minimumDepositAmount-selector" [ngClass]="{'read-only': visualizationMode !== visualizationModeEnum.Visualization}"
                            placeholder="{{'campaigns.entity.minimumDepositAmount' | translate}}" [value]="campaign.minimumDepositAmount">
                    </div>

                    <div class="form-group">
                        <label for="maximumDepositAmount">{{'campaigns.entity.maximumDepositAmount' | translate}}</label>
                        <input type="text" id="maximumDepositAmount" disabled class="form-control maximumDepositAmount-selector" [ngClass]="{'read-only': visualizationMode !== visualizationModeEnum.Visualization}"
                            placeholder="{{'campaigns.entity.maximumDepositAmount' | translate}}" [value]="campaign.maximumDepositAmount">
                    </div>

                    <div class="form-group">
                        <label for="promotionalCode2">{{'campaigns.entity.promotionalCode' | translate}}</label>
                        <input type="text" id="promotionalCode2" disabled class="form-control promotionalCode2-selector" [ngClass]="{'read-only': visualizationMode !== visualizationModeEnum.Visualization}"
                            placeholder="{{'campaigns.entity.promotionalCode' | translate}}" [value]="campaign.promotionalCode">
                    </div>

                </div>

                <div *ngIf="campaign.trigger.includes('DepositActivator') && campaign.paymentMethods">

                    <div class="form-group">
                        <label for="paymentMethods">{{'campaigns.entity.paymentMethods' | translate}}</label>
                        <input type="text" id="paymentMethods" disabled class="form-control paymentMethods-selector" [ngClass]="{'read-only': visualizationMode !== visualizationModeEnum.Visualization}"
                            placeholder="{{'campaigns.entity.paymentMethods' | translate}}" [value]="campaign.paymentMethods">
                    </div>

                </div>

                <div *ngIf="campaign.trigger.includes('DepositActivator') && campaign.scopeStartDate">

                    <div class="form-group" [ngClass]="{'has-danger': campaignFormGroup.get('scopeStartDate').errors}">
                        <label for="scopeStartDate">{{'campaigns.entity.scopeStartDate' | translate}}</label>
                        <input type="text" class="form-control scopeStartDate-selector" [ngClass]="{'read-only': visualizationMode == visualizationModeEnum.Edition && campaignFormGroup.get('scopeStartDate').disabled}"
                            placeholder="{{'campaigns.entity.scopeStartDate' | translate}}" autocomplete="off" formControlName="scopeStartDate"
                            [value]="campaign.scopeStartDate | longDatePipe" *ngIf="visualizationMode === visualizationModeEnum.Visualization || (visualizationMode == visualizationModeEnum.Edition && campaignFormGroup.get('scopeStartDate').disabled)">
                        <div id="scopeStartDate" *ngIf="visualizationMode !== visualizationModeEnum.Visualization && campaignFormGroup.get('scopeStartDate').enabled">
                            <mt-date-input [model]="scopeStartDate" [showTimeFields]="false" literalDayCode="{{'common.date.dayCode' | translate}}"
                                literalYearCode="{{'common.date.yearCode' | translate}}" (modelUpdated)="onDateInputModelUpdate($event, 'scopeStartDate')"></mt-date-input>
                            <span class="form-control-feedback form--error" *ngIf="campaignFormGroup.get('scopeStartDate').hasError('required')">
                            {{'forms.error.requiredField' | translate}}
                        </span>
                            <span class="form-control-feedback form--error" *ngIf="campaignFormGroup.get('scopeStartDate').hasError('invalidDateError')">
                            {{'forms.error.invalidDate' | translate}}
                        </span>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-sm-6 col-lg-4 mt-sm-5 mt-lg-0">
                <h5>{{'campaigns.details.rolloverData' | translate}}</h5>

                <div *ngIf="campaign.bonusAmountMultiplier">
                    <div class="form-group">
                        <label for="bonusAmountMultiplier">{{'campaigns.entity.bonusAmountMultiplier' | translate}}</label>
                        <input type="text" id="bonusAmountMultiplier" disabled class="form-control bonusAmountMultiplier-selector" [ngClass]="{'read-only': visualizationMode !== visualizationModeEnum.Visualization}"
                            placeholder="{{'campaigns.entity.bonusAmountMultiplier' | translate}}" [value]="campaign.bonusAmountMultiplier">
                    </div>
                </div>

                <div *ngIf="campaign.minimumOdds">
                    <div class="form-group">
                        <label for="minimumOdds">{{'campaigns.entity.minimumOdds' | translate}}</label>
                        <input type="text" id="minimumOdds" disabled class="form-control minimumOdds-selector" [ngClass]="{'read-only': visualizationMode !== visualizationModeEnum.Visualization}"
                            placeholder="{{'campaigns.entity.minimumOdds' | translate}}" [value]="campaign.minimumOdds">
                    </div>
                </div>

                <div *ngIf="campaign.redemptionOnWinnings">
                    <div class="form-group">
                        <label for="redemptionOnWinnings">{{'campaigns.entity.redemptionOnWinnings' | translate}}</label>
                        <input type="text" id="redemptionOnWinnings" disabled class="form-control redemptionOnWinnings-selector" [ngClass]="{'read-only': visualizationMode !== visualizationModeEnum.Visualization}"
                            placeholder="{{'campaigns.entity.redemptionOnWinnings' | translate}}" [value]="campaign.redemptionOnWinnings">
                    </div>
                </div>

                <div *ngIf="campaign.minimumNumberOfBetsPerRedemption">
                    <div class="form-group">
                        <label for="minimumNumberOfBetsPerRedemption">{{'campaigns.entity.minimumNumberOfBetsPerRedemption' | translate}}</label>
                        <input type="text" id="minimumNumberOfBetsPerRedemption" disabled class="form-control minimumNumberOfBetsPerRedemption-selector"
                            [ngClass]="{'read-only': visualizationMode !== visualizationModeEnum.Visualization}" placeholder="{{'campaigns.entity.minimumNumberOfBetsPerRedemption' | translate}}"
                            [value]="campaign.minimumNumberOfBetsPerRedemption">
                    </div>
                </div>

                <div *ngIf="campaign.onlyFirstBetPerEvent">
                    <div class="form-group">
                        <label for="onlyFirstBetPerEvent">{{'campaigns.entity.onlyFirstBetPerEvent' | translate}}</label>
                        <input type="text" id="onlyFirstBetPerEvent" disabled class="form-control onlyFirstBetPerEvent-selector" [ngClass]="{'read-only': visualizationMode !== visualizationModeEnum.Visualization}"
                            placeholder="{{'campaigns.entity.onlyFirstBetPerEvent' | translate}}" [value]="campaign.onlyFirstBetPerEvent">
                    </div>
                </div>

                <div *ngIf="campaign.excludeRealWalletBets">
                    <div class="form-group">
                        <label for="excludeRealWalletBets">{{'campaigns.entity.excludeRealWalletBets' | translate}}</label>
                        <input type="text" id="excludeRealWalletBets" disabled class="form-control excludeRealWalletBets-selector" [ngClass]="{'read-only': visualizationMode !== visualizationModeEnum.Visualization}"
                            placeholder="{{'campaigns.entity.excludeRealWalletBets' | translate}}" [value]="campaign.excludeRealWalletBets">
                    </div>
                </div>

            </div>

            <div class="col-sm-12 col-lg-4 mt-sm-5 mt-lg-0">
                <h5>{{'campaigns.details.otherData' | translate}}</h5>

                <div class="form-group">
                    <label for="cancelOnWithdraw">{{'campaigns.entity.cancelOnWithdraw' | translate}}</label>
                    <input type="text" id="cancelOnWithdraw" disabled class="form-control cancelOnWithdraw-selector" [ngClass]="{'read-only': visualizationMode !== visualizationModeEnum.Visualization}"
                        placeholder="{{'campaigns.entity.cancelOnWithdraw' | translate}}" [value]="campaign.cancelOnWithdraw">
                </div>

                <div class="form-group">
                    <label for="closeConsumedAfterMinutes">{{'campaigns.entity.closeConsumedAfterMinutes' | translate}}</label>
                    <input type="text" id="closeConsumedAfterMinutes" disabled class="form-control closeConsumedAfterMinutes-selector" [ngClass]="{'read-only': visualizationMode !== visualizationModeEnum.Visualization}"
                        placeholder="{{'campaigns.entity.closeConsumedAfterMinutes' | translate}}" [value]="campaign.closeConsumedAfterMinutes">
                </div>

            </div>

        </div>

        <div class="buttons-container" *ngIf="visualizationMode !== visualizationModeEnum.Visualization">
            <button type="button" class="btn btn-backward" (click)="cancelEdition()">
                {{'common.cancel' | translate}}
            </button>
            <button type="submit" class="btn btn-forward" [disabled]="!campaignFormGroup.valid">
                <span>{{'common.saveChanges' | translate}}</span>
            </button>
        </div>

    </form>
</div>
