.campaign-details {
  padding: 1em;

  &__form {
    margin-top: 1.5em;
    h5 {
      font-size: 18px;
      font-weight: 600;
      color: #253049;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(147, 163, 186, 0.5);
      margin-bottom: 1.2em;
    }

    .form-group--no-text {
      margin-top: 3.3rem;
    }

    .buttons-container {
      width: 100%;
      text-align: right;
      margin-bottom: 1em;
    }

    // Placeholders invisible when the field is disabled.
    input {
      &:disabled::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
      }
      &:disabled:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: transparent;
      }
      &:disabled::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: transparent;
      }
      &:disabled:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: transparent;
      }
    }
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .campaign-details {
    &__tabs {
      .tabs-container {
        .section-tab {
          width: auto;
        }
      }
    }
  }
}




