
.header{

  .dropdown-menu {
    background: #4e5f7b;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding:0;
    top: 28px;
    width: 100%;
    min-width: 175px;

    .dropdown-item {
      padding: 10px 25px;
      border-bottom: 1px solid #5e6b87;
      color: #CBD6E7;
      font-size: 14px;
      i{
        margin-right: 10px;
      }
      &:hover {
        background: #253148;
        color: #fff;
      }
    }
  }

  .btn-default {
    text-transform: none;
    outline: none;
    font-size: 12px;
    border-color: transparent;
    padding: .5rem 1rem;
    min-width: inherit;
    &:focus {
      outline: 0;
    }
  }

  .detail__box {
    position: relative;
    background: #f0f5fa;
    border-radius: 0.15rem;
    padding: 15px;
    width: 100%;
    height: 100%;
  }

  .detail__box--parent > .row {
    height: 100%;
  }

  .detail__box--center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .detail__box--title {
    color: #25304a;
  }

  .detail__box--title2 {
    color: #93a3bb;
  }

  .btn-default {
    background: #4e5f7b;
    color: #CBD6E7;
    font-size: 12px;
  }

  .btn-group-fw, .btn-group-fw .btn {
    width: 100%;
  }

  .btn-group-fw .btn {
    text-align: left;
  }

  .btn-group-fw .dropdown-toggle::after {
    position: absolute;
    top: 13px;
    right: 10px;
  }

  .campaign--name{
    h2 {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  @media (max-width: 576px) {

    .detail__box--parent {
      margin-bottom: 5px;
    }

    .campaign--name h2 {
      font-size: 21px;
      text-align: center;
    }

    .campaign--info {
      text-align: center;
    }

    .campaign--info > div > div {
      margin-top: 20px;
    }

    .game-subtypes__box {
      padding: 5px 30px;
    }
  }

  @media (min-width:576px) and (max-width: 768px) {

    .detail__box--campaign, .detail__box--status, .detail__box--game-subtypes {
      margin-bottom: 5px;
    }

    .game-subtypes__box {
      padding: 0px 30px 0 30px;
    }

    .two__items__h > div > div:nth-child(1) {
      padding-right: 2.5px;
    }

    .two__items__h > div > div:nth-child(2) {
      padding-left: 2.5px;
    }

    .two__items__v > div > div:nth-child(1) {
      padding-right: 2.5px;
    }

    .two__items__v > div > div:nth-child(2) {
      padding-left: 2.5px;
    }
  }

  @media (min-width: 768px) {

    .campaign--info {
      position: absolute;
      bottom: 15px;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {

    .detail__box--campaign {
      padding-right: 2.5px;
      margin-bottom: 5px;
    }

    .detail__box--game-subtypes {
      padding-right: 2.5px;
    }

    .detail__box--actions {
      padding-left: 2.5px;
    }

    .two__items__v > div > div:nth-child(2) {
      margin-bottom: 5px;
    }

    .two__items__v > div > div:nth-child(1) {
      margin-bottom: 5px;
      padding-left: 5px;
    }

    .two__items__v > div > div:nth-child(1) {
      padding-left: 2.5px;
    }

    .two__items__v > div > div:nth-child(2) {
      padding-left: 2.5px;
    }

    .two__items__h > div > div:nth-child(2), .three__items > div > div {
      padding-left: 2.5px;
    }

    .two__items__h > div > div:nth-child(1), .three__items > div > div:nth-child(2) {
      padding-right: 2.5px;
    }

    .game-subtypes__box {
      padding: 0px 30px 0 30px;
    }

    .detail__box--actions .dropdown-menu {
      width: 100%;
    }
  }

  @media (min-width: 1199px) {

    .detail__box--status {
      padding: 0px;
    }

    .detail__box--game-subtypes {
      padding-left: 5px;
      padding-right: 0;
    }

    .detail__box--actions {
      padding-left: 5px;
    }

    .two__items__h > div > div:nth-child(2), .three__items > div > div {
      padding-left: 2.5px;
    }

    .two__items__h > div > div:nth-child(1), .three__items > div > div:nth-child(2) {
      padding-right: 2.5px;
    }

    .two__items__v > div > div:nth-child(1) {
      margin-bottom: 5px;
      padding-left: 5px;
    }

    .two__items__v > div > div:nth-child(2) {
      padding-left: 5px;
    }

    .game-subtypes__box {
      margin-top: 15px;
    }

  }
}
