<div class="campaign-details">

    <pas-campaign-details-header (actionClick)="onActionClick($event)"></pas-campaign-details-header>

    <div class="campaign-details__tabs">
        <ul class="tabs-container">
            <li class="section-tab" routerLinkActive="section-tab--active" [routerLinkActiveOptions]="{exact: false}">
                <a [routerLink]="['/campaigns', campaignId]">{{'campaigns.details.campaignData' | translate}}</a>
            </li>
            <li class="section-tab" routerLinkActive="section-tab--active" [routerLinkActiveOptions]="{exact: false}">
                <a [routerLink]="['/campaigns', campaignId, 'player-participation']">{{'campaigns.details.playerParticipation' | translate}}</a>
            </li>
        </ul>
    </div>

    <router-outlet></router-outlet>
</div>
