<!-- Campaign summary header-->
<div class="header ">
    <div class="row">
        <!-- First box: name, start and end date-->
        <div class="col-sm-12 col-md-8 col-lg-9 col-xl-4 detail__box--parent detail__box--campaign">
            <div class="detail__box">
                <div class="row">
                    <div class="col-sm-12 campaign--name">
                        <h2 title="{{campaign?.campaignName}}">{{campaign?.campaignName}}</h2>
                    </div>
                    <div class="col-sm-12 campaign--info">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="detail__box--title2">{{'campaigns.entity.startDate' | translate}}</div>
                                <div>{{campaign?.startDate | mediumDateTimePipe}}</div>
                            </div>
                            <div class="col-sm-6 text-sm-right">
                                <div class="detail__box--title2">{{'campaigns.entity.endDate' | translate}}</div>
                                <div>{{campaign?.endDate | mediumDateTimePipe}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second box: trigger and status-->
        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2 detail__box--parent detail__box--status two__items__v">
            <div class="row">
                <div class="col-sm-6 col-md-12">
                    <div class="detail__box detail__box--center text-center">
                        <div class="col-sm-12">
                            <span class="detail__box--title2">{{'campaigns.entity.trigger' | translate}}</span>
                            <br>
                            <span>{{campaign?.triggerLabel}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-12">
                    <div class="detail__box detail__box--center text-center">
                        <div class="col-sm-12">
                            <span class="detail__box--title2">{{'campaigns.entity.status' | translate}}</span>
                            <br>
                            <span>{{getStatusTranslated()}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Third box: game subtypes and actions-->
        <!--<div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 detail__box--parent detail__box--actions two__items__h">
            <div class="row">
                <div class="col-sm-7 col-md-8 col-lg-9 col-xl-9">
                    <div class="col-sm-12 detail__box detail__box--center">
                        <div class="row justify-content-xl-center">
                            <span class="col-sm-12 detail__box--title2 text-center /*hidden-lg-down*/">
                                    {{'campaigns.entity.gameSubtypes' | translate}}</span>
                            <div class="col-sm-12 game-subtypes__box">
                                <span>{{campaign?.gameSubtypes}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-md-4 col-lg-3 col-xl-3">
                    <div class="detail__box detail__box--center">
                        <div class="btn-group btn-group-fw">
                            <button class="btn btn-default dropdown-toggle" [disabled]="visualizationMode == visualizationModeEnum.Edition" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{'common.actions' | translate}}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a *ngFor="let action of getAvailableActions()" class="dropdown-item" (click)="onActionClick(action.actionId)">
                                    <i [class]="action.cssClasses"></i>{{action.translationKey | translate}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

        <!-- Third box: game subtypes -->
        <div class="col-sm-12 col-md-8 col-lg-9 col-xl-4 detail__box--parent detail__box--game-subtypes">
            <div class="detail__box detail__box--center">
                <div class="row justify-content-xl-center">
                    <span class="col-sm-12 detail__box--title2 text-center /*hidden-lg-down*/">
                        {{'campaigns.entity.gameSubtypes' | translate}}</span>
                    <div class="col-sm-12 game-subtypes__box">
                        <span>{{campaign?.gameSubtypes}}</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Fourth box: actions-->
        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2 detail__box--parent detail__box--actions">
            <div class="detail__box detail__box--center">
                <div class="btn-group btn-group-fw">
                    <button class="btn btn-default dropdown-toggle" [disabled]="visualizationMode == visualizationModeEnum.Edition" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{'common.actions' | translate}}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a *ngFor="let action of getAvailableActions()" class="dropdown-item" (click)="onActionClick(action.actionId)">
                            <i [class]="action.cssClasses"></i>{{action.translationKey | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
