<div class="modal-header">
    <h4 class="modal-title">{{'transactions.withdrawals.details' | translate}}</h4>
    <button type="button" class="close" aria-label="Close"
        (click)="activeModal.close('CANCEL')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body withdrawal-details">
    <mt-summary [summary]="summaryData" [firstColumnWidth]="'50%'">
    </mt-summary>
</div>

<div class="modal-footer">
    <button class="btn btn-action reject" type="button" *ngIf="actionButtonsVisible"  [disabled]="!actionButtonsEnabled" (click)="rejectWithdrawals()">
        {{'common.reject' | translate}}
    </button>
    <button class="btn btn-backward" type="button" (click)="activeModal.close('CANCEL')">
        {{'common.cancel' | translate}}
    </button>
    <button class="btn btn-action" type="button" *ngIf="actionButtonsVisible" [disabled]="!actionButtonsEnabled" (click)="approveWithdrawals()">
        {{'common.approve' | translate}}
    </button>
    <button class="btn btn-action" type="button" *ngIf="finishButtonVisible" [disabled]="!finishButtonEnabled" (click)="finishWithdrawals()">
        {{'common.finalize' | translate}}
    </button>
</div>
