<div>
    <mt-basic-filters #filtersBar
                      [hidden]="!filtersLoaded"
                      [filters]="filters"
                      [literals]="filterBarLiterals"
                      [allowEmptySearch]="false"
                      (search)="onSearchBasicFilter($event)"
                      (clear)="onClearBasicFilter()">
    </mt-basic-filters>



    <div *ngIf="firstSearchDone && !errorInSearch" class="table-wrapper">
        <mt-table [uniqueId]="'withdrawal-search-table'"
                  [loading]="false"
                  [showLoader]="false"
                  [columns]="table_columns"
                  [rows]="table_rows"
                  [literals]="tableLiterals"
                  [enableDraggableColumns]="false"
                  [enableColumnsVisibilityEdition]="false"
                  [enablePagination]="true"
                  [pagingData]="pagingData"
                  [enableRowSelection]="enableRowSelection"
                  [rowSelectionMode]="rowSelectionMode"
                  [rowSelectionKey]="rowSelectionKey"
                  [actionButtons]="tableButtons"
                  (selectedRowsChange)="onSelectedRowsChange($event)"
                  (selectAllChange)="onSelectAllChange($event)"
                  (pageChanged)="onPageChanged($event)"
                  (pageSizeChanged)="onPageSizeChanged($event)"
                  (actionButtonClick)="onTableActionButtonClick($event)">
        </mt-table>
    </div>

    <pas-feedback *ngIf="!firstSearchDone && !errorInSearch"
                  [title]="'common.search.inviteTitle'"
                  [message]="'common.search.inviteSubtitle'"
                  [icon]="'fa-exchange'">
    </pas-feedback>

    <pas-feedback *ngIf="errorInSearch"
                  [title]="'common.search.error.searchingTitle'"
                  [message]="'common.search.error.searchingSubtitle'"
                  [icon]="'fa-exclamation-circle'">
    </pas-feedback>

    <ng-template #withdrawalDetailsLinkTemplate let-transactionId="transactionId">
        <div class="table-detail-link">
            <button class="btn btn-link" *ngIf="showWithdrawalDetailsLink" title="{{'common.search.detail' |translate}}" (click)="openDetailsModal(transactionId)">
                {{transactionId}}
                <span class="d-md-none">{{'common.search.detail' |translate}}</span>
            </button>
            <span *ngIf="!showWithdrawalDetailsLink">{{transactionId}}</span>
        </div>
    </ng-template>
</div>
