//overwrite bootstrap default styles for modals
.modal.show {
  animation: bounceDown .4s;
}

.modal-footer {
  border: 0;
}

.modal-backdrop.show {
  background-color: rgba(78, 95, 123, 0.5);
  opacity: 1;
}

.input-group-addon {
  line-height: 0.25;
}

@keyframes bounceDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (min-width: 992px) {
  .xlg-modal .modal-dialog  {
    max-width: 900px;
  }
}
