.tabs {
  background-color: #f0f5fa;
  border-radius: 3px;
  margin: 1em 0;

  &__container {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    .section-tab {
      padding: 0;
      transition: all .3s ease-in-out;
      width: 100%;

      &:first-child {
        border-radius: 3px 0 0 3px;
      }

      a {
        display: block;
        padding: 13px 15px;
        color: #253049;
        outline: none;
        &:hover {
          text-decoration: none;
        }
      }

      &:hover {
        cursor: pointer;
        background-color: #dce1e6;
        text-decoration: none;
      }

      &--active {
        a {
          color: #fff;
          text-decoration: none;
        }
        &:hover {
          background-color: #4e5e7c;
          text-decoration: none;
        }
        background-color: #4e5e7c;
      }

      &--disabled {
        a {
          color: #dce1e6;
          text-decoration: line-through;
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .tabs {
    &__container {
      .section-tab {
        width: auto;
      }
    }
  }
}

