<div class="modal-header">
    <h4 class="modal-title">
        <span>{{"players.limits.accept.title" | translate}}</span>
    </h4>
    <button type="button" class="close" aria-label="Close"
        (click)="activeModal.close('CANCEL')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body update-limit">
    <div class="row">
        <div class="col-12">
            <div class="update-limit__info">
                <div *ngIf="limit?.name || limit?.surname" class="update-limit-info__username">
                    <span class="update-limit--title">{{'players.limits.username' | translate}}:</span>
                    <span>{{limit?.name}} {{limit?.surname}}</span>
                </div>
                <div class="update-limit-info__type">
                    <span class="update-limit--title">{{'players.limits.type' | translate}}:</span>
                    <span>{{translateLimitType(limit?.limitType)}}</span>
                </div>
                <div class="update-limit-info__date">
                    <span class="update-limit--title">{{'players.limits.requestDate' | translate}}:</span>
                    <span>{{limit?.requestDate}}</span>
                </div>
            </div>
            <div *ngIf="limit.newDailyLimit !== limit.currentDailyLimit" class="summary update-limit__daily">
                <div class="row">
                    <div class="col-4">
                        <span>{{'players.limits.daily' | translate}}</span>
                    </div>
                    <div class="col">
                        <span>{{limit?.currentDailyLimit}}</span>
                        <span *ngIf="!limit.currentDailyLimit">{{'players.limits.none' | translate}}</span>
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <span>{{limit?.newDailyLimit}}</span>
                    </div>
                </div>
            </div>

            <div *ngIf="limit.newWeeklyLimit !== limit.currentWeeklyLimit" class="summary update-limit__weekly">
                <div class="row">
                    <div class="col-4">
                        <span>{{'players.limits.weekly' | translate}}</span>
                    </div>
                    <div class="col">
                        <span>{{limit?.currentWeeklyLimit}}</span>
                        <span *ngIf="!limit.currentWeeklyLimit">{{'players.limits.none' | translate}}</span>
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <span>{{limit?.newWeeklyLimit}}</span>
                    </div>
                </div>
            </div>

            <div *ngIf="limit.newMonthlyLimit !== limit.currentMonthlyLimit" class="summary update-limit__monthly">
                <div class="row">
                    <div class="col-4">
                        <span>{{'players.limits.monthly' | translate}}</span>
                    </div>
                    <div class="col">
                        <span>{{limit?.currentMonthlyLimit}}</span>
                        <span *ngIf="!limit.currentMonthlyLimit">{{'players.limits.none' | translate}}</span>
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <span>{{limit?.newMonthlyLimit}}</span>
                    </div>
                </div>
            </div>

            <span class="update-limit--title">{{'players.limits.reason'| translate}}:</span>
            <div class="form-group">
                <textarea rows="2" class="form-control" [(ngModel)]="selectedReason"></textarea>
            </div>

            <p *ngIf="limit?.operation === limitOperationEnum.Accept">
                {{"players.limits.accept.message" | translate}}
            </p>
            <p *ngIf="limit?.operation === limitOperationEnum.Reject">
                {{"players.limits.reject.message" | translate}}
            </p>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div>
        <button class="btn btn-backward" type="button" (click)="activeModal.close('CANCEL')">
            {{'common.cancel' | translate}}
        </button>
        <button class="btn btn-forward" type="button" [disabled]="!selectedReason" (click)="onConfirmUpdateLimit()">
            <span *ngIf="limit?.operation == limitOperationEnum.Accept">{{'players.limits.accept.button' | translate}}</span>
            <span *ngIf="limit?.operation === limitOperationEnum.Reject">{{'players.limits.reject.button' | translate}}</span>
        </button>
    </div>
</div>
