@import "~mt-web-components/src/themes/mt/shared/colors";

.update-limit {
  form {
    padding-top: 2.5em;
  }

  &__info {
    padding-bottom: 1em;
    div {
      padding: 0.2em;
    }
  }

  &--title {
    font-weight: 600;
  }

  .summary {
    background-color: mt-color("neutral");
    border: 1px solid mt-color("neutral", "accent");
    padding: 1em;
    margin-bottom: 1em;
    i {
      margin: 0 10px;
    }
  }
}
