<div class="modal-header">
    <h4 class="modal-title">
        <span>{{"players.responsibleGaming.edit.title" | translate}}</span>
    </h4>
    <button type="button" class="close" aria-label="Close"
        (click)="activeModal.close('CANCEL')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body update-limit">
    <ng-container *ngIf="currentStep == 1; then step1 else step2"></ng-container>
</div>

<ng-template #step1>
    <label>{{"players.responsibleGaming.edit.currentLimits" | translate}}:</label>
    <mt-table [uniqueId]="'operator-current-limits'"
              [loading]="false"
              [showLoader]="true"
              [columns]="table_columns"
              [rows]="table_rows"
              [literals]="tableLiterals"
              [enableDraggableColumns]="false"
              [enablePagination]="false">
    </mt-table>

    <form novalidate #f="ngForm">
        <div class="row">
            <div class="col-12">
                <div class="form-group" [ngClass]="{'has-danger' : dailyLimit?.errors && dailyLimit?.touched}">
                    <label>{{"players.responsibleGaming.edit.newDailyLimit" | translate}}:</label>
                    <div class="input-group">
                        <input type="number" class="form-control" [(ngModel)]="newLimit.dailyLimit" name="dailyLimit"
                               #dailyLimit="ngModel" min="1" pasNumberValidator/>
                        <div class="input-group-addon">{{currencyCode}}</div>
                    </div>
                    <span *ngIf="dailyLimit?.errors?.invalidNumberError && dailyLimit?.touched"
                          class="form-control-feedback form--error">{{'players.responsibleGaming.edit.warning.invalidAmount' | translate}}
                    </span>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group" [ngClass]="{'has-danger':weeklyLimit?.errors && weeklyLimit?.touched}">
                    <label>{{"players.responsibleGaming.edit.newWeeklyLimit" | translate}}:</label>
                    <div class="input-group">
                        <input type="number" class="form-control" [(ngModel)]="newLimit.weeklyLimit" name="weeklyLimit"
                               #weeklyLimit="ngModel" min="1" pasNumberValidator/>
                        <div class="input-group-addon">{{currencyCode}}</div>
                    </div>
                    <span *ngIf="weeklyLimit?.errors?.invalidNumberError && weeklyLimit?.touched"
                          class="form-control-feedback form--error">{{'players.responsibleGaming.edit.warning.invalidAmount' | translate}}
                    </span>
                </div>
            </div>

            <div class="col-12">
                <div class="form-group" [ngClass]="{'has-danger':monthlyLimit?.errors && monthlyLimit?.touched}">
                    <label>{{"players.responsibleGaming.edit.newMonthlyLimit" | translate}}:</label>
                    <div class="input-group">
                        <input type="number" class="form-control" [(ngModel)]="newLimit.monthlyLimit" name="monthlyLimit"
                               #monthlyLimit="ngModel" min="1" pasNumberValidator/>
                        <div class="input-group-addon">{{currencyCode}}</div>
                    </div>
                    <span *ngIf="monthlyLimit?.errors?.invalidNumberError && monthlyLimit?.touched"
                          class="form-control-feedback form--error">
                        {{'players.responsibleGaming.edit.warning.invalidAmount' | translate}}
                    </span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-backward" type="button" (click)="activeModal.close('CANCEL')">
                {{'common.cancel' | translate}}
            </button>
            <button class="btn btn-forward" type="submit" [disabled]="!f.valid || isSameLimit()" (click)="onNextStep()">
                <span>{{'common.confirm' | translate}}</span>
            </button>
        </div>
    </form>
</ng-template>

<ng-template #step2>
    <div *ngIf="limit.values && newLimit.dailyLimit && newLimit.dailyLimit !== limit.values.dailyLimit" class="summary update-limit__daily">
        <div class="row">
            <div class="col-4">
                <span>{{'players.responsibleGaming.edit.dailyLimit' | translate}}</span>
            </div>
            <div class="col">
                <span>{{formatAmount(limit?.values?.dailyLimit)}}</span>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                <span>{{formatAmount(newLimit?.dailyLimit)}}</span>
            </div>
        </div>
    </div>

    <div *ngIf="limit.values && newLimit.weeklyLimit && newLimit.weeklyLimit !== limit.values.weeklyLimit" class="summary update-limit__weekly">
        <div class="row">
            <div class="col-4">
                <span>{{'players.responsibleGaming.edit.weeklyLimit' | translate}}</span>
            </div>
            <div class="col">
                <span>{{formatAmount(limit?.values?.weeklyLimit)}}</span>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                <span>{{formatAmount(newLimit?.weeklyLimit)}}</span>
            </div>
        </div>
    </div>

    <div *ngIf="limit.values && newLimit.monthlyLimit && newLimit.monthlyLimit !== limit.values.monthlyLimit" class="summary update-limit__monthly">
        <div class="row">
            <div class="col-4">
                <span>{{'players.responsibleGaming.edit.monthlyLimit' | translate}}</span>
            </div>
            <div class="col">
                <span>{{formatAmount(limit?.values?.monthlyLimit)}}</span>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                <span>{{formatAmount(newLimit?.monthlyLimit)}}</span>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-backward" type="button" (click)="onPreviousStep()">
            {{'common.back' | translate}}
        </button>
        <button class="btn btn-forward" type="submit" (click)="onConfirmUpdateLimit()">
            <span>{{'players.responsibleGaming.edit.submit' | translate}}</span>
        </button>
    </div>
</ng-template>
