<div class="not-found">
    <div class="not-found__title">
        <p>403</p>
    </div>
    <div class="not-found__body">
        <h1>{{'static.accessForbidden.title' | translate}}</h1>
        <p>{{'static.accessForbidden.subtitle' | translate}}</p>
        <a class="btn btn-action" routerLink="/home">{{'static.goHome' | translate}}</a>
    </div>
</div>
