<div class="not-found">
    <div class="not-found__title">
        <p>404</p>
    </div>
    <div class="not-found__body">
        <h1>{{'static.pageNotFound.title' | translate}}</h1>
        <p>{{'static.pageNotFound.subtitle' | translate}}</p>
        <a class="btn btn-action" routerLink="/home">{{'static.goHome' | translate}}</a>
    </div>
</div>
