@import "~mt-web-components/src/themes/mt/shared/colors";

.not-found {
  text-align: center;
  width: 100%;
  &__title {
    background-color: white;
    height: 40vh;
    position: relative;
    width: 100%;
    p {
      font-size: 12em;
      line-height: .65em;
      color: mt-color("teal");
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      margin: 0;
    }
  }

  &__body {
    padding: 3em 0;
    height: 50vh;
    width: 100%;
    color: mt-color("dark");
    font-size: 1.1em;
    a {
      padding: .6em 1.5em;
      margin: 1em;
      display: inline-block;
      text-decoration: none;
      transition: font-size;
      transition-duration: .1s;
      transition-timing-function: ease-in;
      &:hover {
        font-size: 103%;
      }
    }
  }
}
