@import "./../../../../scss/base/_colors.scss";
@import "~mt-web-components/src/themes/mt/shared/colors";
.massive-assignment{

  font-size:16px;
  color:$wizard-title;

  .summary-title{
    color: mt-color("dark","shadow");
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
  }

  .step-title{
    text-decoration: underline;
    color: $wizard-title;
    font-size:16px;

    .step-title-num{
      font-weight: 600;
    }
  }

  .step-one{
    padding-top:32px;

    .step-one-container{
      padding: 26px 0 0 24px;

      .step-one-input{
        width:184px;
        margin-bottom: 8px;
      }

      .step-one-time-picker{
        width:96px;
      }
    }
  }

  .step-two{
    padding-top:32px;

    .step-two-container{
      padding: 26px 0 0 24px;

      .step-two-upload{
        padding-top:8px;

        .step-two-input{
          width:400px;
          margin-bottom: 8px;
        }
      }
    }
  }

  .step-three{
    max-width:1188px;
    padding-top: 32px;

    .step-three-title{
      padding-left:162px;
    }

    .player-list{
      margin-top:50px;
      display:flex;
      flex-wrap: wrap;

      .player{
        margin-bottom: 16px;
      }
    }
  }

  .step-four{
    padding-top:32px;

    .step-four-container{
      padding: 26px 0 0 24px;
      display:flex;

      .step-four-half{
        width: 400px;
        margin-right:32px;

        .summary-group{

          margin-bottom: 48px;
          .step-four-input-group{
            margin-bottom: 8px;
          }
        }
      }
    }
  }

  .final-step{
    margin: 56px 0 0 64px;

    .final-step-title{
      font-size: 20px;
      color: mt-color("dark","main");

      .final-step-error{
        padding-left: 40px;
        margin-top: 8px;

        .final-step-message{
          font-size: 12px;
          color: $warning-msg;

          .final-step-warning{
            padding: 0 8px 0 8px;
          }
        }

        .final-step-players{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          font-size: 16px;
          .final-step-player{
            background-color: mt-color("neutral","main");
            color: mt-color("dark","main");
            margin: 8px 10px 0 0;
            padding: .3em;
          }
        }
      }
    }

    .final-step-list{
      padding-left: 40px;
      font-size: 16px;
      color: mt-color("sky","main");
      margin-top: 100px;
    }
  }

  .success{
    color: $chip-activated;
  }

  .fail{
    color: $chip-deactivated;
  }

  .span-link{
    cursor:pointer;
  }

  .footer-wizard{
    padding: 0 10% 0 20%;
  }
}

@media (max-width:1024px){
  .massive-assignment{
    .step-three{
      .player-list{
        justify-content: space-around;
      }
    }

    .step-four{
      .step-four-container{
        flex-direction: column;
      }
    }
  }
}
