<div class="massive-assignment">
    <mt-wizard [leftButton]="leftButton"
               [literals]="wizardLiterals"
               [footerCssClass]="'footer-wizard'"
               (buttonLeftClick)="onCancelButtonClick()">

        <mt-wizard-step title="{{'campaigns.manualCampaigns.create.stepOne.stepOneTitle' | translate}}"
                        [valid]="stepOneForm.valid">
            <div class="step-one">
                <div class="step-title">
                    <span
                        class="step-title-num">{{'campaigns.manualCampaigns.create.stepOne.stepOne' | translate}}</span>
                    <span>{{'campaigns.manualCampaigns.create.stepOne.stepOneMsg' | translate}}</span>
                </div>
                <form [formGroup]="stepOneForm" class="step-one-container">
                    <div class="step-one-input">
                        <div
                            [ngClass]="{'has-danger':!stepOneForm.controls['promotionName'].valid && stepOneForm.controls['promotionName'].touched}">
                            <label>{{'campaigns.manualCampaigns.create.stepOne.promotion' | translate}}</label>
                            <input class="form-control"
                                   [ngClass]="{'form-control-danger':!stepOneForm.controls['promotionName'].valid && stepOneForm.controls['promotionName'].touched}"
                                   type="text"
                                   placeholder="{{'campaigns.manualCampaigns.create.stepOne.specifyPromotionMsg' | translate}}"
                                   [(ngModel)]="campaignName"
                                   [formControl]="stepOneForm.controls['promotionName']">
                            <div
                                *ngIf="stepOneForm.controls['promotionName'].hasError('required') && stepOneForm.controls['promotionName'].touched"
                                class="form-control-feedback form--error">
                                {{'campaigns.manualCampaigns.create.stepOne.noPromotionMsg' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="step-one-input">
                        <div
                            [ngClass]="{'has-danger':!stepOneForm.controls['activationDate'].valid && stepOneForm.controls['activationDate'].touched}">
                            <label>{{'campaigns.manualCampaigns.create.stepOne.activationDate' | translate}}</label>
                            <div class="mt-datepicker-input"
                                 [class.mt-datepicker-input--invalid]="!stepOneForm.controls['activationDate'].valid && stepOneForm.controls['activationDate'].touched">
                                <input
                                    placeholder="{{'campaigns.manualCampaigns.create.stepOne.selectActivationDateMsg' | translate}}"
                                    formControlName="activationDate"
                                    [(ngModel)]="activationDate"
                                    [mtDatepicker]="datepicker">
                                <mt-datepicker-toggle [for]="datepicker"></mt-datepicker-toggle>
                                <mt-datepicker #datepicker></mt-datepicker>
                            </div>
                            <div
                                *ngIf="stepOneForm.controls['activationDate'].hasError('required') && stepOneForm.controls['activationDate'].touched"
                                class="form-control-feedback form--error">
                                {{'campaigns.manualCampaigns.create.stepOne.noActivationDateMsg' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="step-one-input">
                        <div>
                            <label>{{'campaigns.manualCampaigns.create.stepOne.activationTime' | translate}}</label>
                            <div class="mt-datepicker-input step-one-time-picker">
                                <input placeholder=""
                                       [mtTimepicker]="timePicker"
                                       [(ngModel)]="activationTime"
                                       formControlName="activationTime">
                                <mt-timepicker #timePicker></mt-timepicker>
                            </div>
                        </div>
                    </div>
                    <div class="step-one-input">
                        <div [ngClass]="{'has-danger':!stepOneForm.controls['bonus'].valid && stepOneForm.controls['bonus'].touched}">
                            <label>{{'campaigns.manualCampaigns.create.stepOne.bonus' | translate}}</label>

                            <mt-select formControlName="bonus"
                                       placeholder="{{'campaigns.manualCampaigns.create.stepOne.selectBonus' | translate}}"
                                       (valueChange)="onBonusChange($event)">
                                <mt-select-option *ngFor="let item of availableBonuses" [value]="item.id">
                                    {{ item.name}}
                                </mt-select-option>
                            </mt-select>

                            <div
                                *ngIf="stepOneForm.controls['bonus'].hasError('required') && stepOneForm.controls['bonus'].touched"
                                class="form-control-feedback form--error">
                                {{'campaigns.manualCampaigns.create.stepOne.noBonusMsg' | translate}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </mt-wizard-step>

        <mt-wizard-step title="{{'campaigns.manualCampaigns.create.stepTwo.stepTwoTitle' | translate}}"
                        [valid]="inputFile && uploadSuccess">
            <div class="step-two">
                <div class="step-title">
                    <span
                        class="step-title-num">{{'campaigns.manualCampaigns.create.stepTwo.stepTwo' | translate}}</span>
                    <span>{{'campaigns.manualCampaigns.create.stepTwo.stepTwoMsg' | translate}}</span>
                </div>
                <div class="step-two-container">
                    <div>
                        <span>{{'campaigns.manualCampaigns.create.stepTwo.csvUploadTitle' | translate}}</span>
                        <span class="btn-link span-link" (click)="onDownloadDocument()">({{'campaigns.manualCampaigns.create.stepTwo.csvUploadDownload' | translate}})</span>
                    </div>
                    <div class="custom-file-upload step-two-upload">
                        <input class="form-control step-two-input" accept=".csv" [disabled]="true"
                               [ngModel]="inputFileName"/>
                        <input class="file-upload" id="file-upload" type="file" (change)="onUploadFileChange($event)">
                        <label class="btn btn-action" for="file-upload">{{'campaigns.manualCampaigns.create.stepTwo.csvBrowse'
                            | translate}}</label>
                    </div>
                    <div>
                        <p *ngIf="inputFile && uploadSuccess">
                            <i class='fa fa-check-circle success'></i>
                            &nbsp;{{'campaigns.manualCampaigns.create.stepTwo.csvUploadSuccess' | translate}}
                            <span class="btn-link span-link" (click)="onFileRemoveClick()">{{'campaigns.manualCampaigns.create.stepTwo.csvUploadRemoveFile' | translate}}</span>
                        </p>
                        <p *ngIf="inputFile && !uploadSuccess">
                            <i class='fa fa-times-circle fail'></i>
                            &nbsp;{{uploadFailMsg}}
                        </p>
                    </div>
                </div>
            </div>
        </mt-wizard-step>

        <mt-wizard-step title="{{'campaigns.manualCampaigns.create.stepThree.stepThreeTitle' | translate}}"
                        [valid]="checkedPlayersCount > 0"
                        [class]="'step-three'">
            <div class="step-title step-three-title">
                <span
                    class="step-title-num">{{'campaigns.manualCampaigns.create.stepThree.stepThree' | translate}}</span>
                <span>{{'campaigns.manualCampaigns.create.stepThree.stepThreeMsg' | translate}}</span>
            </div>
            <div class="player-list">
                <div *ngFor="let row of checkboxRows" class="player">
                    <pas-checkbox-row [row]="row" (rowChecked)="onRowChecked($event)"></pas-checkbox-row>
                </div>
            </div>
        </mt-wizard-step>

        <mt-wizard-step title="{{'campaigns.manualCampaigns.create.stepFour.stepFourTitle' | translate}}"
                        [nextButton]="saveButton"
                        [beforeLeave]="onSaveButtonClickAsync">
            <div class="step-four">
                <div class="step-title">
                    <span
                        class="step-title-num">{{'campaigns.manualCampaigns.create.stepFour.stepFour' | translate}}</span>
                    <span>{{'campaigns.manualCampaigns.create.stepFour.stepFourMsg' | translate}}</span>
                </div>
                <div class="step-four-container">
                    <div class="step-four-half">
                        <div class="summary-group">
                            <p class="summary-title">{{'campaigns.manualCampaigns.create.stepFour.campaignSummary' |
                                translate}}</p>
                            <div class="step-four-input-group">
                                <label>{{'campaigns.manualCampaigns.create.stepFour.campaignName' | translate}}</label>
                                <input disabled class="form-control" type="text" [value]="campaignName">
                            </div>
                            <div class="step-four-input-group">
                                <label>{{'campaigns.manualCampaigns.create.stepFour.activationDate' |
                                    translate}}</label>
                                <input disabled class="form-control" type="text"
                                       [value]="activationDate | longDatePipe">
                            </div>
                        </div>
                        <div class="summary-group">
                            <p class="summary-title">{{'campaigns.manualCampaigns.create.stepFour.assignationSummary' |
                                translate}}</p>
                            <div class="step-four-input-group">
                                <label>{{'campaigns.manualCampaigns.create.stepFour.fileName' | translate}}</label>
                                <input disabled class="form-control" type="text" [value]="inputFileName">
                            </div>
                            <div class="step-four-input-group">
                                <label>{{'campaigns.manualCampaigns.create.stepFour.playersAssigned' |
                                    translate}}</label>
                                <input disabled class="form-control" type="text" [value]="checkedPlayersCount">
                            </div>
                        </div>
                    </div>
                    <div class="step-four-half">
                        <div class="summary-group">
                            <p class="summary-title">{{'campaigns.manualCampaigns.create.stepFour.bonusSummary' |
                                translate}}</p>
                            <div class="step-four-input-group">
                                <label>{{'campaigns.manualCampaigns.create.stepFour.bonusName' | translate}}</label>
                                <input disabled class="form-control" type="text" [value]="selectedBonusName">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mt-wizard-step>

        <mt-wizard-step [isFinalStep]="true" [class]="'final-step'">
            <div class="final-step-title">
                <span class="fa fa-check-circle success"></span> &nbsp;{{'campaigns.manualCampaigns.create.stepFive.message'
                | translate : {'campaignName': campaignName}
                }}
                <div *ngIf="errorPlayers.length" class="final-step-error">
                    <p class="final-step-message">
                        <span class="fa fa-exclamation-triangle final-step-warning"></span>
                        {{'campaigns.manualCampaigns.create.stepFive.assignationUndefinedError' | translate }}
                    </p>
                    <div class="final-step-players">
                        <span *ngFor="let player of errorPlayers" class="final-step-player">{{player}}</span>
                    </div>
                </div>
            </div>

            <p class="final-step-list">
                <i class="fa fa-caret-right"></i>
                <a class="btn-link" href="/campaigns/manual-campaign-create">
                    {{'campaigns.manualCampaigns.create.stepFive.createNewCampaign' | translate : {'campaignName':
                    campaignName} }}
                </a>
            </p>
        </mt-wizard-step>

    </mt-wizard>
</div>
