@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700");

html, body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 15px !important;
  margin: 0;
  font-weight: 400;
  /* Antialiase fonts in MacOS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table-wrapper{
  margin: 0 1em 1em 1em;
}

