$chip-activated: #00c514;
$chip-blocked: #e89b9b;
$chip-securityblocked: #01a8e6;
$chip-closed: #bac3cf;
$chip-frozen: #9bd4e8;
$chip-deactivated: #d40000;
$chip-confirmed: #ffbe1c;
$chip-blacklisted: #4e5f7b;
$chip-new: #e89b9b;
$chip-selfexcluded: #d15454;
$chip-white: #ffffff;
$change-status-arrow: #4e5f7b;

$wizard-title: #253049;
$warning-msg: #f5a623;
