$mt-grey: #ddd;
$dark-grey-blue: #374b6e;
$dark-four: #212c38;
$header-grey: #93a3ba;
$pale-grey-two: #f0f5fa;
$dark-sky-blue: #4a90e2;
$greyish-brown:#4a4a4a;

$menu-width-expanded:160px;
$menu-width-collapsed:80px;

