<!--Templates with Icons -->
<ng-template #terminalGeneralStatusView let-statusObj="GeneralStatus">
    <a class="fa status-icon"
       [ngClass]="{
                    'fa-thumbs-o-up text-success':statusObj === 'OK',
                    'fa-exclamation-triangle text-warning':(statusObj === 'WARNING' || statusObj === 'WARNING_FRONTEND'),
                    'fa-thumbs-o-down text-danger':statusObj === 'ERROR'
                  }"
       aria-hidden="true"></a>
</ng-template>

<ng-template #terminalAcknowledgeView let-dateobj="TerminalAcknowledgement">
    <mt-alive-icon [lastAck]="dateobj"></mt-alive-icon>
</ng-template>

<!--Templates Dates -->
<ng-template #terminalStartView let-dateobj="TerminalStart">
    {{dateobj | localizeddate:'medium'}}
</ng-template>

<!-- Templates Translate-->
<ng-template #terminalScenarioView let-translateobj="Scenario">
    {{translateobj | translate }}
</ng-template>

<ng-template #statusView let-translateobj="Status">
    {{translateobj | translate }}
</ng-template>

<ng-template #typeView let-translateobj="ClientType">
    {{translateobj | translate }}
</ng-template>

<!-- Terminal table -->
<mt-table [uniqueId]="'terminal-table'"
          [loading]="loading"
          [showLoader]="true"
          [columns]="columns"
          [rows]="rows">
</mt-table>
