<div class="modal-header">
    <h4 class="modal-title">{{'transactions.withdrawals.reject.title' | translate}}</h4>
    <button type="button" class="close" aria-label="Close"
        (click)="activeModal.close('CANCEL')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body reject-details">
    <p>
       {{'transactions.withdrawals.reject.rejectDetails' | translate}}
    </p>
    <div>
        <mt-table [uniqueId]="'reject-details-table'"
                  [loading]="false"
                  [showLoader]="false"
                  [columns]="tableColumns"
                  [rows]="tableRows"
                  [literals]="tableLiterals"
                  [enableDraggableColumns]="false"
                  [enableColumnsVisibilityEdition]="false"
                  [enablePagination]="false"
                  [enableRowSelection]="false">
        </mt-table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-backward" type="button" (click)="activeModal.close('CANCEL')">
        {{'common.cancel' | translate}}
    </button>
    <button class="btn btn-forward" type="button" (click)="rejectWithdrawals()">
        {{'common.reject' | translate}}
    </button>
</div>
