.documentation {
  button.btn-link {
    min-width: 32px;
    text-align: center;
    span {
      padding-left: 0.5em;
    }
  }
  &__upload {
    padding-top: 1em;
  }
  &__preview {
    object {
      width: 700px;
      height: 600px;
    }
  }
  &__action-buttons {
    display: flex;
    align-content: space-between;
  }
}
//Small devices (up to 768px)
@media (max-width: 768px) {
  .documentation {
    button.btn-link {
      text-align: left;
      margin-bottom: .5em;
      span {
        padding: 0 1em 0 .5em;
      }
    }
    &__action-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}

