<div class="documentation">
    <div class="documentation__search" *ngIf="!errorInSearch && tableRows && tableRows.length > 0">
        <mt-table #table [uniqueId]="'player-documentation'"
                  [loading]="false"
                  [showLoader]="true"
                  [columns]="tableColumns"
                  [rows]="tableRows"
                  [literals]="tableLiterals"
                  [enableDraggableColumns]="true"
                  [enableColumnsVisibilityEdition]="false"
                  [enablePagination]="false"
                  [enableRowSelection]="enableRowSelection"
                  [rowSelectionMode]="'single'"
                  [rowSelectionKey]="'id'"
                  (selectedRowsChange)="onSelectedRowsChange($event)"
                  [actionButtons]="tableButtons"
                  (actionButtonClick)="onActionButtonClick($event)">
        </mt-table>
    </div>

    <pas-feedback class="documentation__feedback"
                  *ngIf="tableRows && tableRows.length == 0"
                  [title]="'players.documentation.search.response.noResultsTitle'"
                  [icon]="'fa-file'"
                  [customTemplate]="uploadDocumentTemplate">
    </pas-feedback>

    <pas-feedback *ngIf="errorInSearch"
                  [title]="'common.search.error.searchingTitle'"
                  [message]="'common.search.error.searchingSubtitle'"
                  [icon]="'fa-exclamation-circle'">
    </pas-feedback>

    <ng-template #uploadDocumentTemplate>
        <button *mtPermissions="uploadDocumentationPermissions"
                class="btn btn-action"
                title="{{'players.documentation.uploadDocument.subtitle' |translate}}"
                (click)="onUploadDocumentClick()">
            <i class="fa fa-upload"></i>
            <span>{{'players.documentation.uploadDocument.subtitle' |translate}}</span>
        </button>
    </ng-template>

    <ng-template #documentPreviewTemplate>
        <div class="documentation__preview text-center">
            <img *ngIf="previewImageFile" class="img-fluid rounded" [src]="previewImageFile">

            <object *ngIf="previewPdfFile" class="img-fluid rounded" [data]="previewPdfFile" type="application/pdf">
                <embed [src]="previewPdfFile" type="application/pdf"/>
            </object>
        </div>
    </ng-template>
</div>
