@import '../../../scss/base/variables';

.table-detail-link {
  a {
    color: $dark-sky-blue;
    display: block;
    width: 100%;
    i {
      font-size: 1.1em;
      transition: transform .2s ease-in-out 0s;
      margin-right: 5px;
    }
    &:hover {
      text-decoration: underline;
      cursor: pointer;
      color: $dark-sky-blue;
      i {
        transform: scale(1.3);
      }
    }
  }
}
