<div>
    <mt-basic-filters #filtersBar
                      [hidden]="!filtersLoaded"
                      [filters]="filters"
                      [literals]="filterBarLiterals"
                      (search)="onSearchBasicFilter($event)"
                      (clear)="onClearBasicFilter()">
    </mt-basic-filters>

    <ng-template #playerDetailLinkTemplate let-accountCode="accountCode">
        <div class="table-detail-link">
            <a *ngIf="showPlayerDetailLink" title="{{'common.search.detail' |translate}}"
                [routerLink]="['/players', accountCode, 'detail']"
                [queryParams]="playerDetailLinkParams">
                {{accountCode}}
                <span class="d-md-none">{{'common.search.detail' |translate}}</span>
            </a>
            <span *ngIf="!showPlayerDetailLink">{{accountCode}}</span>
        </div>
    </ng-template>

    <div *ngIf="firstSearchDone && !errorInSearch" class="table-wrapper">
        <mt-table [uniqueId]="'transaction-search-table'"
                  [loading]="false"
                  [showLoader]="false"
                  [columns]="table_columns"
                  [rows]="table_rows"
                  [literals]="tableLiterals"
                  [enableDraggableColumns]="false"
                  [enableColumnsVisibilityEdition]="false"
                  [enablePagination]="true"
                  [maxColumnsWidth]="tableMaxColumnWidth"
                  [pagingData]="pagingData"
                  (pageChanged)="onPageChanged($event)"
                  (pageSizeChanged)="onPageSizeChanged($event)"
                  [enableExport]="true"
                  (exportClick)="onExportClick($event)">
        </mt-table>
    </div>

    <pas-feedback *ngIf="!firstSearchDone && !errorInSearch"
                  [title]="'common.search.inviteTitle'"
                  [message]="'common.search.inviteSubtitle'"
                  [icon]="'fa-exchange'">
    </pas-feedback>
    <pas-feedback *ngIf="errorInSearch"
                  [title]="'common.search.error.searchingTitle'"
                  [message]="'common.search.error.searchingSubtitle'"
                  [icon]="'fa-exclamation-circle'">
    </pas-feedback>
</div>
