<div class="upload-documentation">
    <form #f="ngForm" name="form" novalidate (ngSubmit)="onSubmit()">
        <div class="modal-header">
            <h4 class="modal-title">{{"players.documentation.uploadDocument.title" | translate}}</h4>
            <button type="button" class="close" aria-label="Close"
                (click)="activeModal.close('CANCEL')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">

            <div class="form-group mb-0">
                <label>
                    {{'players.documentation.uploadDocument.documents' | translate}}
                </label>
            </div>

            <div class="custom-file-upload">
                <input class="form-control"
                       placeholder="{{'players.documentation.uploadDocument.subtitle' |translate}}"
                       [disabled]="true"
                       [value]="documentListSummary"/>

                <input class="file-upload"
                       id="file-uploader"
                       type="file"
                       name="file-uploader"
                       multiple
                       accept="image/*,.pdf,.doc,.docx"
                       (change)="onUploadFileChange($event)">

                <label class="btn btn-action" for="file-uploader">Browse</label>
            </div>

            <div class="form-group" [ngClass]="{'has-danger' : invalidDateMessage}">
                <label>{{'players.documentation.uploadDocument.expirationDate' | translate}}</label>

                <mt-date-time-picker placeholder="{{'players.documentation.entity.expirationDate'|translate}}"
                                     [min]="minExpirationDate"
                                     (dateChange)="onExpirationDateChanged($event)">
                </mt-date-time-picker>

                <div *ngIf="invalidDateMessage">
                    <span class="form-control-feedback form--error">{{invalidDateMessage}}</span>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-backward" type="button" (click)="activeModal.close('CANCEL')">
                {{'common.cancel' | translate}}
            </button>
            <button type="submit" class="btn btn-forward"
                    [disabled]="!documentList || !documentList.length || invalidDateMessage">
                <span>{{'players.documentation.uploadDocument.subtitle' | translate}}</span>
            </button>
        </div>
    </form>
</div>
