@import "~mt-web-components/src/themes/mt/shared/colors";
@import "~mt-web-components/src/themes/mt/shared/buttons";

.upload-documentation {
  &__file {
    display: flex;
  }
  mt-date-input {
    .date-input {
      &__day, &__month {
        padding-right: 5px;
      }
    }
    button {
      //@extend .range--button;
    }
  }
}
