<div class="campaign-main">
    <mt-home-template [iconClasses]="'fa fa-users'"
                      [pageTitle]="'campaigns.home.title' | translate"
                      [mainActionsTitle]="'home.mainActions' | translate"
                      [mainActionsContent]="actions"
                      [savedSearchesTitle]="'home.savedSearches' | translate"
                      [savedSearchesContent]="searches"
                      [dashboardTitle]="'home.dashboard' | translate"
                      [dashboardContent]="dashboardItems"
                      (savedSearchClick)="onSavedSearchClick($event)">
    </mt-home-template>
</div>
