<div class="login-wrapper">
    <mt-login [literals]="loginLiterals"
              [errorMessage]="currentError"
              [loading]="loading"
              [logo]="logoIcon"
              (loginSubmitted)="onLoginSubmitted($event)">
    </mt-login>

    <ul class="login-wrapper__animated-bg">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
