@import "~mt-web-components/src/themes/mt/shared/colors";
$bubble-animation-delay:20;

.login-wrapper {
  background: linear-gradient(to bottom right, #374b6e 10%, #f3f7fa 110%);
  padding-top: 10%;
  min-height: 100vh;

  .login{
    z-index: 1001;

    .login__form {
      margin-top: 0;
      border-radius: 5px;

      .header__logo {
        margin: 0 auto;
        display: inline;
        width: 70%;
        max-width: 160px;
        margin-left: -15px;
        margin-bottom: 1em;
      }

      .login__input-wrapper {
        i {
          color: #243f94;
        }
      }

      .form-group {
        text-align: center;
      }
    }
  }


  &__animated-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin:0;
    padding: 0;

    @keyframes flyUp {
      0% {
        transform: translateY(0);
        opacity: 0;
      }
      25%{
        opacity: 1;
      }
      100% {
        transform: translateY(-800px);
      }
    }


    li {
      position: absolute;
      list-style: none;
      display: block;
      width: 40px;
      height: 40px;
      background-color: rgba(255, 255, 255, 0.15);
      bottom: 0;
      animation: flyUp 25s infinite;
      transition-timing-function: linear;
      border-radius: 50%;
      opacity: 0;

      &:nth-child(1) {
        left: 3%;
        animation-delay: $bubble-animation-delay + 1s;
      }
      &:nth-child(2) {
        left: 20%;
        width: 80px;
        height: 80px;
        animation-delay: $bubble-animation-delay + 2s;
        animation-duration: 17s;
      }
      &:nth-child(3) {
        left: 25%;
        animation-delay: $bubble-animation-delay + 4s;

      }
      &:nth-child(4) {
        left: 40%;
        width: 60px;
        height: 60px;
        animation-duration: 22s;
        animation-delay: $bubble-animation-delay + 1s;
        background-color: rgba(255, 255, 255, 0.25);
      }
      &:nth-child(5) {
        left: 70%;
        animation-delay: $bubble-animation-delay + 2s;
      }
      &:nth-child(6) {
        left: 80%;
        width: 120px;
        height: 120px;
        animation-delay: $bubble-animation-delay + 3s;
        background-color: rgba(255, 255, 255, 0.2);
      }
      &:nth-child(7) {
        left: 32%;
        width: 60px;
        height: 60px;
        animation-delay: $bubble-animation-delay + 7s;;
      }
      &:nth-child(8) {
        left: 55%;
        width: 20px;
        height: 20px;
        animation-delay: $bubble-animation-delay + 15s;
        animation-duration: 40s;
      }
      &:nth-child(9) {
        left: 25%;
        width: 10px;
        height: 10px;
        animation-delay: $bubble-animation-delay + 2s;
        animation-duration: 40s;
        background-color: rgba(255, 255, 255, 0.3);
      }
      &:nth-child(10) {
        left: 90%;
        width: 25px;
        height: 25px;
        animation-delay: $bubble-animation-delay + 11s;
      }
    }
  }
}
