//Styles taken from ux repository for the player detail header
.header{

  .dropdown-menu {
    background: #4e5f7b;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding:0;
    top: 28px;
    width: 100%;
    min-width: 215px;

    .dropdown-item {
      padding: 10px 15px;
      border-bottom: 1px solid #5e6b87;
      color: #CBD6E7;
      font-size: 14px;
      i{
        margin-right: 10px;
      }
      &:hover {
        background: #253148;
        color: #fff;
      }
    }
  }

  .btn-default {
    text-transform: none;
    outline: none;
    font-size: 12px;
    border-color: transparent;
    padding: .5rem 1rem;
    min-width: inherit;
    &:focus{
      outline: 0;
    }
  }

  .detail__box {
    position: relative;
    background: #f0f5fa;
    border-radius: 0.15rem;
    padding: 15px;
    width:100%;
    height:100%;
  }

  .detail__box--parent > .row {

    height:100%;
  }

  .three__items > div > div > .detail__box > div {

    height:100%;
  }

  .detail__box--center {

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .detail__box--title {

    color: #25304a;
  }

  .detail__box--title2 {

    color: #93a3bb;
  }

  .badge {

    font-size: 100%;
    padding: .5rem .75rem;
  }

  .badge-danger {

    color: #f2196B;
    border: 1px solid #f2196B;
    background: #fff;
  }

  .wallet__box--button {

    padding: 0px;
    background: #4D5C7E;
    border-radius: 0.25rem;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    position: relative;
    z-index: 2;
  }

  .wallet__box .dropdown-menu:after {

    content: none;
  }

  .wallet__box--icon {
    padding: 0px;
    background: #93a3bb;
    border-radius: 0.15rem;
    text-align: center;
    color: #ffffff;
    position: relative;
    line-height: 2em;
    z-index: 1;
  }

  .wallet__box--button button {
    padding:0;
    width:100%;
  }

  .wallet__box--amount {
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    left: -5px;
    text-align: center;
  }

  .btn-default {
    background: #4e5f7b;
    color: #CBD6E7;
    font-size: 12px;
  }

  .btn__action {

    margin-right: 15px;
  }

  .btn-group-fw, .btn-group-fw .btn {

    width:100%;
  }

  .btn-group-fw .btn {

    text-align: left;
    line-height: 1.25;
  }

  .btn-group-fw .dropdown-toggle::after {

    position: absolute;
    top:13px;
    right:10px;
  }

  .player--name{
    h2 {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .player--bonus {

    width: auto !important;
    top: 29px !important;
    left: 15px;
  }
  .player--bonus__name{
    float: left;
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
  }
  .player--bonus__amount{
    float: right;
    width: 25%;
    padding-right: 10px;
  }

  .player--bonus .dropdown-item {

    padding-left: 0px;
  }

  .player--bonus > div > div {

    display: inline-block;
    padding-left: 10px;
  }

  .player--bonus a {
    padding-left: 10px;
    color: #CBD6E7;
  }

  .player--bonus .player--bonus__actions a:hover {
    color: #fff;
  }

  @media (max-width: 576px) {

    .detail__box--parent {

      margin-bottom: 5px;
    }

    .player--name h2 {

      font-size: 21px;
      text-align: center;
    }

    .player--info {

      text-align: center;
    }

    .player--info > div > div {

      margin-top: 20px;
    }

    .badge {

      margin-bottom: 15px;
    }

    .wallet__box {

      padding: 5px 30px;
    }

    .wallet__box--button, .wallet__box--icon {

      width: 20%;
      font-size: 18px;
    }

    .wallet__box--amount {

      width:80%;
    }

    .player--bonus {

      max-width: 100%;
    }

  }

  @media (max-width: 576px) and (orientation: landscape) {

    .player--bonus {

      width:100%;
    }

    .player--bonus__name {
      width:auto;
    }
  }

  @media ( min-width:576px) and (max-width: 768px) {

    .detail__box--player, .detail__box--status {

      margin-bottom: 5px;
    }

    .three__items > div > div:nth-child(1) {

      margin-bottom: 5px;
    }

    .three__items > div > div:nth-child(2) {

      padding-right: 2.5px;
    }

    .three__items > div > div:nth-child(3) {

      padding-left: 2.5px;
    }

    .wallet__box {

      padding: 0px 30px 0 30px;
    }

    .wallet__box--amount, .wallet__box--button {

      font-size: 13px;
    }

    .two__items__h > div > div:nth-child(1) {

      padding-right: 2.5px;
    }

    .two__items__h > div > div:nth-child(2) {

      padding-left: 2.5px;
    }

    .two__items__v > div > div:nth-child(1) {

      padding-right: 2.5px;
    }

    .two__items__v > div > div:nth-child(2) {

      padding-left: 2.5px;
    }

  }

  @media (min-width: 768px) {

    .player--info {

      position: absolute;
      bottom: 15px;
    }
  }

  @media (min-width: 768px) and (max-width: 978px) {

    .badge {
      font-size: 13px;
      padding: .5rem .50rem;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {

    .detail__box--player {

      padding-right: 2.5px;
      margin-bottom: 5px;
    }
    .two__items__v > div > div:nth-child(2) {

      margin-bottom: 5px;
    }

    .two__items__v > div > div:nth-child(1) {

      margin-bottom: 5px;
      padding-left: 5px;
    }

    .two__items__v > div > div:nth-child(2) {

      padding-left: 2.5px;
    }

    .three__items > div > div:nth-child(2) {

      padding-right: 2.5px;
    }

    .three__items > div > div {

      padding-left: 2.5px;
      margin-bottom: 5px;
    }

    .two__items__h > div > div:nth-child(2), .three__items > div > div {

      padding-left: 2.5px;
    }

    .two__items__h > div > div:nth-child(1), .three__items > div > div:nth-child(2) {

      padding-right: 2.5px;
    }

    .wallet__box {

      padding: 0px 30px 0 30px;
    }

    .detail__box--actions .dropdown-menu {
      width: 100%;
    }
  }

  @media (min-width: 1199px) {

    .detail__box--status {
      padding: 0px;
    }

    .detail__box--actions {
      padding-left: 5px;
    }

    .three__items > div > div:nth-child(1), .three__items > div > div:nth-child(2) {

      padding-left: 5px;
    }

    .two__items__h > div > div:nth-child(2), .three__items > div > div {

      padding-left: 2.5px;
    }

    .two__items__h > div > div:nth-child(1), .three__items > div > div:nth-child(2) {

      padding-right: 2.5px;
    }

    .three__items > div > div:nth-child(1) {

      margin-bottom: 5px;
    }

    .two__items__v > div > div:nth-child(1) {

      margin-bottom: 5px;
      padding-left: 5px;
    }

    .two__items__v > div > div:nth-child(2) {

      padding-left: 5px;
    }

    .wallet__box {

      margin-top: 15px;
    }

    .wallet__box--icon {

      font-size: 14px;
      line-height: 30px;
    }

    .player--bonus {

      left: -112px;
    }

  }
}
