<!--Player summary header-->
<div class="header">
    <div class="row">
        <!-- First box: name, username and account code-->
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 detail__box--parent detail__box--player">
            <div class="detail__box">
                <div class="row">
                    <div class="col-sm-12 player--name">
                        <h2 title="{{playerNameHeader}}">{{playerNameHeader}}</h2>
                    </div>
                    <div class="col-sm-12 player--info">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="detail__box--title2">{{'players.entity.username' | translate}}</div>
                                <div>{{player?.username}}</div>
                            </div>
                            <div class="col-sm-6 text-sm-right">
                                <div class="detail__box--title2">{{'players.entity.accountCode' | translate}}</div>
                                <div>{{player?.accountCode}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second box: Self-excluded, status and document number-->
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 detail__box--parent detail__box--status "
             [ngClass]="{'two__items__v': !player.selfExcluded, 'three__items': player.selfExcluded}">
            <div class="row">
                <!--Self-excluded box-->
                <div *ngIf="player.selfExcluded" class="col-sm-12 self-exclusion-data-selector">
                    <div class="detail__box">
                        <div class="row">

                            <div class="col-sm-6 col-md-5 col-lg-6 text-center detail__box--center">
                                    <span class="badge badge-danger">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                        {{'players.entity.selfExcluded' | translate}}
                                    </span>
                            </div>
                            <div class="col-sm-6 col-md-7 col-lg-6 text-center">
                                <span class="detail__box--title2 ">{{'common.from' | translate}}</span>&nbsp;
                                <span class="self-exclusion-date-from-selector"
                                      *ngIf="player.selfExclusionInfo && player.selfExclusionInfo.from">
                                    {{player.selfExclusionInfo.from | mediumDateTimePipe}}
                                </span>
                                <br>
                                <span class="detail__box--title2 ">{{'common.to' | translate}}</span>&nbsp;
                                <span class="self-exclusion-date-to-selector"
                                      *ngIf="player.selfExclusionInfo && player.selfExclusionInfo.to">
                                    {{player.selfExclusionInfo.to | mediumDateTimePipe}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Status box-->
                <div class="col-sm-6"
                     [ngClass]="{'col-md-12':!player.selfExcluded, 'col-md-6':player.selfExcluded}">
                    <div class="detail__box detail__box--center text-center">
                        <div class="col-sm-12">
                            <span class="detail__box--title2">{{'players.entity.accountStatus' | translate}}</span>
                            <br>
                            <span>{{getStatusTranslated()}}</span>
                        </div>
                    </div>
                </div>

                <!--ID. number box-->
                <div class="col-sm-6" [ngClass]="{'col-md-12':!player.selfExcluded, 'col-md-6':player.selfExcluded}"
                     style="padding-right: 15px;">
                    <div class="detail__box detail__box--center text-center">
                        <div class="col-sm-12">
                            <span class="detail__box--title2">{{'players.entity.iDNumber' | translate}}</span>
                            <br>
                            <span>{{player?.identityDocument?.number}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Third box: wallet and actions-->
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4 detail__box--parent detail__box--actions two__items__h">
            <div class="row">
                <!--Wallets box-->
                <div class="col-sm-7">
                    <div class="col-sm-12 detail__box detail__box--wallet">
                        <div class="row justify-content-xl-center">
                                <span class="col-sm-12 detail__box--title2 text-center d-none d-xl-block">
                                    {{'players.detail.wallet' | translate}}</span>

                            <!--Real money wallet-->
                            <div class="col-sm-6 col-xl-9 wallet__box">
                                <div class="row">
                                    <div class="col-sm-2 wallet__box--icon">
                                        <span>{{getCurrencySymbol()}}</span>
                                    </div>
                                    <div class="col-sm-10 wallet__box--amount">
                                        <span>{{getRealWalletBalance()}}</span>
                                    </div>
                                </div>
                            </div>

                            <!--Bonus money wallets-->
                            <div class="col-sm-6 col-xl-9 wallet__box">
                                <div class="row">

                                    <button *ngIf="hasBonusWallets()"
                                            type="button" class="col-sm-2 wallet__box--button btn btn-default"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        B
                                    </button>

                                    <div *ngIf="!hasBonusWallets()" class="col-sm-2 wallet__box--icon">
                                        <span>B</span>
                                    </div>

                                    <div class="dropdown-menu player--bonus">
                                        <ng-container *ngFor="let wallet of playerWallets">
                                            <div class="dropdown-item"
                                                 *ngIf="wallet.moneyType == walletType.Bonus">

                                                <div class="player--bonus__name">
                                                    <a (click)="onWalletClick(wallet)">{{wallet.name}}</a>
                                                </div>
                                                <div class="player--bonus__amount">
                                                    {{getFormattedAmountWithCurrency(wallet.balance)}}
                                                </div>
                                                <div class="clearfix"></div>

                                            </div>
                                        </ng-container>
                                    </div>

                                    <div class="col-sm-10 wallet__box--amount">
                                        <span>{{getBonusWalletsBalance()}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--Actions box-->
                <div class="col-sm-5">
                    <div class="detail__box detail__box--center">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle actions-button-selector"
                                    [disabled]="visualizationMode == visualizationModeEnum.Edition || availableActions.length == 0"
                                    type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{'common.actions' | translate}}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a *ngFor="let action of availableActions" class="dropdown-item {{action.cssSelector}}"
                                   (click)="onActionClick(action.actionId)">
                                    <i [class]="action.cssClasses"></i>{{action.translationKey | translate}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
