<div>
    <mt-basic-filters #filtersBar
                      [filters]="filters"
                      [literals]="filterBarLiterals"
                      (search)="onSearchBasicFilter($event)"
                      (clear)="onClearBasicFilter()">
    </mt-basic-filters>

    <div *ngIf="!errorInSearch" class="table-wrapper">
        <mt-table #table
                  [uniqueId]="'transaction-limits'"
                  [loading]="false"
                  [showLoader]="true"
                  [columns]="table_columns"
                  [rows]="table_rows"
                  [literals]="tableLiterals"
                  [enableDraggableColumns]="true"
                  [enablePagination]="true"
                  [pagingData]="pagingData"
                  [enableRowSelection]="enableRowSelection"
                  [rowSelectionMode]="rowSelectionMode"
                  [rowSelectionKey]="rowSelectionKey"
                  [actionButtons]="tableButtons"
                  (selectedRowsChange)="onSelectedRowsChange($event)"
                  (actionButtonClick)="onActionButtonClick($event)"
                  (pageChanged)="onPageChanged($event)"
                  (pageSizeChanged)="onPageSizeChanged($event)">
        </mt-table>
    </div>

    <pas-feedback *ngIf="errorInSearch"
                  [title]="'common.search.error.searchingTitle'"
                  [message]="'common.search.error.searchingSubtitle'"
                  [icon]="'fa-exclamation-circle'">
    </pas-feedback>

    <ng-template #dailyLimitTemplate let-current="currentDailyLimit" let-requested="newDailyLimit">
        <div class="current ">
            <span *ngIf="current">{{current}}</span>
            <span *ngIf="!current">{{'players.limits.none' | translate}}</span>
        </div>
        <div class="arrow ">
            <i *ngIf="current != requested" class="fa fa-arrow-circle-down"></i>
        </div>
        <div class="requested ">
            <span *ngIf="current != requested">{{requested}}</span>
        </div>
    </ng-template>

    <ng-template #weeklyLimitTemplate let-current="currentWeeklyLimit" let-requested="newWeeklyLimit">
        <div class="current ">
            <span *ngIf="current">{{current}}</span>
            <span *ngIf="!current">{{'players.limits.none' | translate}}</span>
        </div>
        <div class="arrow ">
            <i *ngIf="current != requested" class="fa fa-arrow-circle-down"></i>
        </div>
        <div class="requested ">
            <span *ngIf="current != requested">{{requested}}</span>
        </div>
    </ng-template>

    <ng-template #monthlyLimitTemplate let-current="currentMonthlyLimit" let-requested="newMonthlyLimit">
        <div class="current ">
            <span *ngIf="current">{{current}}</span>
            <span *ngIf="!current">{{'players.limits.none' | translate}}</span>
        </div>
        <div class="arrow ">
            <i *ngIf="current != requested" class="fa fa-arrow-circle-down"></i>
        </div>
        <div class="requested ">
            <span *ngIf="current != requested">{{requested}}</span>
        </div>
    </ng-template>

    <ng-template #playerLinkTemplate let-accountCode="accountCode" let-username="username">
        <div class="table-detail-link">
            <a *ngIf="showPlayerDetailLink" title="{{'common.search.detail' |translate}}"
                [routerLink]="['/players', accountCode, 'responsible-gaming']"
                [queryParams]="playerDetailLinkParams">
                {{username}}
                <span class="d-md-none">{{'common.search.detail' |translate}}</span>
            </a>
            <span *ngIf="!showPlayerDetailLink">{{username}}</span>
        </div>
    </ng-template>

</div>
