//limit-actions corrects the bug produced when adding a dropdown inside a responsible table
.limit-actions {
  min-height: 35px; //height of the dropdown button
  mt-dropdown {
    position: absolute; //Break the layout so the collapsible panel goes above of the table
  }
}

.current,.arrow,.requested{
  text-align: left;
  float: left;
}

.arrow{
  margin: 0 1em;
  transform: rotate(270deg);
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .limit-actions {
    min-width: 35px;
  }
  .current,.requested{
    width: 100%;
  }
  .arrow{
    margin: 0;
    transform: rotate(0deg);
    margin-left: 1.5em;
    width: auto;
  }
}


