.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 50px;
  background-color: rgba(78, 95, 123, 0.5);
  z-index: 9999;

  /*Class inherited from mt-web-components. Overwrite div colors*/
  .jumper {
    > div {
      background-color: #ffffff;
    }
  }
}