<pas-loader></pas-loader>

<mt-notifications></mt-notifications>

<div class="menu-wrapper-mobile">
    <mt-slide-menu [items]="menuItems"
                   [logoIcon]="menuLogoIcon"
                   [logoTargetRoute]="'/home'">
    </mt-slide-menu>
</div>

<div class="menu-wrapper" [ngClass]="{'menu-wrapper--collapsed':menuCollapsed}">
    <mt-menu [items]="menuItems"
             [activeState]="activeState"
             [logoIcon]="menuLogoIcon"
             [logoText]="menuLogoText"
             [logoTargetRoute]="'/home'"
             (toggleMenuClick)="onToggleMenu($event)">
    </mt-menu>
</div>

<!-- QUICK SEARCH BAR -->
<div class="top-bar-wrapper" [ngClass]="{'top-bar-wrapper--expanded':menuCollapsed}">
    <div class="row">
        <div class="col-2 col-sm-1 d-md-none">
            <a class="hamburguer fa fa-bars" (click)="onToggleMobileMenu()"></a>
        </div>
        <div class="col-8 col-sm-9 col-md-6 col-lg-5 top-bar-wrapper__search-bar pl-sm-0 pl-sm-3">
            <mt-search-input *ngIf="quickSearch"
                             #playersQuickSearchInput
                             [searchIcon]="'fa fa-search'"
                             [clearIcon]="'fa fa-times-circle'"
                             [placeholderInactive]="quickSearch.placeholder"
                             [placeholderActive]="quickSearch.placeholderActive"
                             [isSearching]="quickSearch.searching"
                             [message]="quickSearch.message"
                             (searchRequested)="onSearchRequested($event)">
            </mt-search-input>
        </div>
        <div class="col-2 col-sm-2 col-md-6 col-lg-7">
            <ul class="top-bar-wrapper__links">
                <li>
                    <mt-dropdown [linkClass]="'user-profile fa fa fa-user-circle-o'"
                                 [position]="'right'"
                                 [items]="userOptions"
                                 [cssSelector]="'user-options-selector'"
                                 (optionClick)="onUserMenuClicked($event)">
                    </mt-dropdown>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="title-bar-wrapper" *ngIf="titleBarContent" [ngClass]="{'title-bar-wrapper--expanded':menuCollapsed}">
    <div class="title-bar">
        <div class="title-bar__link">
            <i class="fa fa-angle-left" *ngIf="titleBarContent.previousPagePath && titleBarContent.previousPagePath.length"></i>
            <a [routerLink]="getPreviousPagePath()" [queryParams]="getPreviousPageQueryParams()">{{titleBarContent.previousPageLabel | translate}}</a>
        </div>
        <div class="title-bar__title">
            {{titleBarContent.pageTitle | translate}}
        </div>
        <div class="title-bar__actions">
            <!--Small devices (up to 768px)-->
            <div class="actions-combo" id="actions-combo-panel" *ngIf="titleBarContent.pageActions && titleBarContent.pageActions.length">
                <a class="actions-combo__link"
                   (click)="actionsComboExpanded = !actionsComboExpanded">{{'home.actions' | translate}}</a>
                <i class="actions-combo__link fa fa-angle-down" [ngClass]="{'fa-rotate-180':actionsComboExpanded}"></i>
                <div class="actions-combo__panel" [hidden]="!actionsComboExpanded">
                    <button *ngFor="let action of titleBarContent.pageActions"
                            (click)="onTitleBarActionClick(action.id)">{{action.label}}
                    </button>
                </div>
            </div>

            <!--Medium devices (tablets, 768px and up)-->
            <div class="action-buttons">
                <button *ngFor="let action of titleBarContent.pageActions"
                        (click)="onTitleBarActionClick(action.id)">
                        <i class="fa" [ngClass]="action.icon"></i>
                        {{action.label}}
                </button>
            </div>
        </div>
        <div class="title-bar__item-navigator"
            [ngClass]="{'title-bar__item-navigator--disabled': titleBarContent.itemNavigator.disabled}"
            *ngIf="titleBarContent.itemNavigator">
            <mt-item-navigator [links]="titleBarContent.itemNavigator.links"
                               [literals]="titleBarContent.itemNavigator.literals"
                               [customNavigation]="titleBarContent.itemNavigator.customNavigation"
                               [currentIndex]="titleBarContent.itemNavigator.currentIndex">
            </mt-item-navigator>
        </div>
    </div>
</div>

<div class="app-wrapper" [ngClass]="{'app-wrapper--expanded':menuCollapsed}">
    <div class="app-wrapper__container">
        <router-outlet></router-outlet>
    </div>
</div>
