@import '../../scss/base/variables';
@import "~mt-web-components/src/themes/mt/shared/colors";

.menu-wrapper-mobile {
  display: block;
}

.menu-wrapper {
  display: none;
  position: fixed;
  height: 100vh;
  z-index: 1002;
}

.app-wrapper {
  position: relative;
  width: 100%;
  z-index: 1000;
  padding: calc(1em + 60px) 1em 1em 1em;
  background: $pale-grey-two;
  transition: all .4s ease 0s;

  &__container {
    padding: 0;
    background: #fff;
    border: 1px solid #d6d8e3;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.09);
    height: 100%;
    min-height: calc(100vh - 2em - 60px);
  }
}

.top-bar-wrapper {
  background-color: $header-grey;
  padding: 10px 1em;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1002;
  width: 100%;
  transition: all .4s ease;

  &__search-bar {
    margin-top: 2px;
  }

  &__links {
    float: right;
    width: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .hamburguer {
    font-size: 2.2em;
    color: white;
    margin-top: 5px;
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

}

.title-bar-wrapper {
  width: 100%;
  padding: 1em;
  transition: all .4s ease;
  position: absolute;
  z-index: 1001;
  top: 60px;
  right: 0;
  background-color: $pale-grey-two;
  max-height: 60px;

  .title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__link {
      color: $dark-sky-blue;
      display: flex;
      flex: 1 100;
      padding-right: 1em;
      min-width: 0;
      a {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        &:hover {
          cursor: pointer;
        }
      }

      i {
        font-size: 2em;
        margin-right: .2em;
        margin-top: -5px;
      }
    }

    &__title {
      text-align: center;
      color: $greyish-brown;
      font-weight: 600;
      flex: 1 100;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &__actions {
      text-align: right;
      flex: 1 100;
      padding-left: 1em;
      padding-right: 1em;
      text-overflow: ellipsis;
      white-space: nowrap;

      .actions-combo {
        position: relative;
        &__link {
          color: $dark-sky-blue;
          transition: transform .3s ease-in-out 0s;
          &:hover {
            cursor: pointer;
          }
        }
        &__panel {
          position: absolute;
          top: 30px;
          right: 0;
          min-width: 150px;
          background-color: #4e5f7b;
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.18);
          white-space: normal;
          button {
            background: transparent;
            width: 100%;
            text-align: left;
            outline: none;
            color: #cad5e7;
            padding: 10px 25px;
            border: 0;
            border-bottom: 1px solid #5e6b87;
            &:hover {
              background-color: #253148;
              color: white;
            }
          }
          button + button {
            margin-top: 0;
          }
          &:after {
            position: absolute;
            top: -6px;
            right: 30px;
            display: inline-block;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #4e5f7b;
            border-left: 6px solid transparent;
            content: '';
          }
        }
      }

      .action-buttons {
        display: none;
        button {
          color: mt-color('dark','main');
          font-size: 16px;
          background-color: #ffffff;
          border: solid 1px mt-color('dark','main');
          border-radius: 4px;
          cursor: pointer;
          font-weight: 600;
          outline: none;
          padding: 3px 12px;
          margin-top: -3px;
          & i {
            font-size: 14px;
            margin-right: 0.6em;
          }
        }
        button + button {
          margin-left: 1em;
        }
      }
    }
    &__item-navigator {
      &--disabled {
        opacity: .5;
        pointer-events: none;
      }
    }
  }
}

.title-bar-wrapper + .app-wrapper {
  //padding-top: calc(1em + 120px);
  padding-top: 115px;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .menu-wrapper-mobile {
    display: none;
  }
  .menu-wrapper {
    display: block;
    width: $menu-width-expanded;
    &--collapsed {
      width: $menu-width-collapsed;
      transition: all .4s ease-in-out .4s;
    }
  }

  .app-wrapper {
    width: calc(100% - #{$menu-width-expanded});
    margin-left: $menu-width-expanded;
    &--expanded {
      width: calc(100% - #{$menu-width-collapsed});
      margin-left: $menu-width-collapsed;
    }
  }

  .top-bar-wrapper {
    width: calc(100% - #{$menu-width-expanded});
    .hamburguer {
      display: none;
    }
    &--expanded {
      width: calc(100% - #{$menu-width-collapsed});
      transition: all .4s ease;
    }
  }

  .title-bar-wrapper {
    width: calc(100% - #{$menu-width-expanded});
    .title-bar {
      &__actions {
        .actions-combo {
          display: none;
        }
        .action-buttons {
          display: block;
        }
      }
    }
    &--expanded {
      width: calc(100% - #{$menu-width-collapsed});
      transition: all .4s ease;
    }
  }
}

