<div class="player-detail">

    <ng-container *ngIf="!errorLoadingPlayer">
        <pas-player-header></pas-player-header>

        <div class="tabs">
            <ul class="tabs__container">
                <li [ngClass]="isRouteActive('players','detail')" class="section-tab">
                    <a [routerLink]="['/players', playerAccountCode, 'detail']" [queryParams]="playerDetailLinkParams">
                        {{'players.detail.playerData' | translate}}
                    </a>
                </li>

                <li *mtPermissions="playerDetailTransactionsPermissions" [ngClass]="isRouteActive('players','transactions')" class="section-tab">
                    <a [routerLink]="['/players/', playerAccountCode, 'transactions']" [queryParams]="playerDetailLinkParams">
                        {{'players.detail.playerTransactions' | translate}}
                    </a>
                </li>

                <li *mtPermissions="playerDocumentationPermissions" [ngClass]="isRouteActive('players','documentation')" class="section-tab">
                    <a [routerLink]="['/players/', playerAccountCode, 'documentation']" [queryParams]="playerDetailLinkParams">
                        {{'players.detail.playerDocumentation' | translate}}
                    </a>
                </li>

                <li *mtPermissions="playerBonusesPermissions" [ngClass]="isRouteActive('players','bonuses')" class="section-tab">
                    <a [routerLink]="['/players/', playerAccountCode, 'bonuses']" [queryParams]="playerDetailLinkParams">
                        {{'players.detail.playerBonusHistory' | translate}}
                    </a>
                </li>

                <li *mtPermissions="responsibleGamingPermissions" [ngClass]="isRouteActive('players','responsible-gaming')" class="section-tab">
                    <a [routerLink]="['/players/', playerAccountCode, 'responsible-gaming']" [queryParams]="playerDetailLinkParams">
                        {{'players.detail.responsibleGaming' | translate}}
                    </a>
                </li>
            </ul>
        </div>
    </ng-container>

    <router-outlet></router-outlet>


    <pas-feedback *ngIf="errorLoadingPlayer"
                  [title]="'common.search.error.searchingTitle'"
                  [message]="'players.detail.messageErrorGettingDetail'"
                  [icon]="'fa-exclamation-circle'">
    </pas-feedback>

    <mt-notes-bar #notesBar
                  *mtPermissions="notesPermissions.view"
                  [notes]="playerNotes"
                  [dateFormat]="'DD-MMM-YYYY HH:mm'"
                  [currentUser]="currentUser"
                  [cssClass]="notesBarClass"
                  [literals]="notesBarLiterals"
                  [icons]="notesBarIcons"
                  [userActions]="notesActionsAllowed"
                  (counterClick)="onCounterClick($event)"
                  (noteAdded)="onAddNote($event)"
                  (noteDeleted)="onDeleteNote($event)"
                  (noteEdited)="onEditNote($event)">
    </mt-notes-bar>


    <!--Template to be passed in the modal to show notes-->
    <ng-template #notesViewer>
        <mt-notes-timeline [notes]="playerNotes" [literals]="notesTimelineLiterals"></mt-notes-timeline>
    </ng-template>

</div>
