@import "~mt-web-components/src/themes/mt/shared/colors";

.player-detail {
  padding: 1em;
  margin-bottom: 50px; //Leave space for notes bar
  color: mt-color('dark');

  &__summary {
    padding-bottom: 1em;

    &--name {
      display: inline-block;
      padding-right: 5px;
    }
  }

  &__form {
    margin-top: 1.5em;
    h5 {
      font-size: 18px;
      font-weight: 600;
      color: mt-color('dark');
      padding-bottom: 10px;
      border-bottom: 1px solid mt-color('teal','sad');
      margin-bottom: 1.2em;
    }

    .form-group--no-text {
      margin-top: 3.3rem;
    }

    .buttons-container {
      width: 100%;
      text-align: right;
      margin-bottom: 1em;
    }

    //Placeholders invisible when the field is disabled.
    input {
      &:disabled::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
      }
      &:disabled:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: transparent;
      }
      &:disabled::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: transparent;
      }
      &:disabled:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: transparent;
      }
    }
  }

  &__notes--menu-collapsed, &__notes--menu-expanded {
    width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .player-detail {
    &__notes--menu-collapsed {
      width: calc(100% - 60px);
    }
    &__notes--menu-expanded {
      width: calc(100% - 175px); //175px of the expanded menu
    }
  }
}
