<div class="modal-header">
    <h4 class="modal-title">
        <span>{{"account.changePassword" | translate}}</span>
    </h4>
    <button type="button" class="close" aria-label="Close"
        (click)="onCancelButtonClicked($event)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-12">
            <div class="change-password-container">
                <mt-change-password [literals]="literals" [errorMessage]="currentError" [loading]="loading"
                    [showCancelButton]="showCancelButton"
                    [minPassLength]="minPassLength"
                    [successMessage]="successMessage"
                    [showRevealPassword]="showRevealPassword"
                    (changePasswordSubmitted)="onChangePasswordSubmitted($event)"
                    (cancelButtonClicked)="onCancelButtonClicked($event)">
                </mt-change-password>
            </div>
        </div>
    </div>
</div>
