<div>
    <mt-basic-filters #filtersBar
                      [filters]="filters"
                      [literals]="filterBarLiterals"
                      (search)="onSearchBasicFilter($event)"
                      (clear)="onClearBasicFilter()">
    </mt-basic-filters>

    <div *ngIf="firstSearchDone && !errorInSearch" class="table-wrapper">
        <mt-table [uniqueId]="'player-search-table'"
                  [loading]="loading"
                  [showLoader]="false"
                  [columns]="table_columns"
                  [rows]="table_rows"
                  [literals]="tableLiterals"
                  [enableDraggableColumns]="true"
                  [enableColumnsVisibilityEdition]="true"
                  (columnVisibilityChanged)="onColumnVisibilityChange($event)"
                  [enablePagination]="true"
                  [pagingData]="pagingData"
                  (pageChanged)="onPageChanged($event)"
                  (pageSizeChanged)="onPageSizeChanged($event)"
                  [enableExport]="true"
                  (exportClick)="onExportClick($event)">
        </mt-table>
    </div>

    <ng-template #playerDetailLinkTemplate let-playerAccountCode="accountCode" let-playerUsername="username">
        <div>
            <a *ngIf="showPlayerDetailLink"
               class="{{playerUsername}}-detail-link-selector btn btn-link"
               [routerLink]="['/players', playerAccountCode, 'detail']"
               [queryParams]="getPlayerDetailLinkParams(playerAccountCode)"
               title="{{'common.search.detail' | translate}}">
               {{playerUsername}}
                <span class="d-md-none">{{'common.search.detail' | translate}}</span>
            </a>
            <span *ngIf="!showPlayerDetailLink">{{playerUsername}}</span>
        </div>
    </ng-template>

    <pas-feedback *ngIf="!firstSearchDone && !errorInSearch"
                  [title]="'common.search.inviteTitle'"
                  [message]="'common.search.inviteSubtitle'"
                  [icon]="'fa-users'">
    </pas-feedback>

    <pas-feedback *ngIf="errorInSearch"
                  [title]="'common.search.error.searchingTitle'"
                  [message]="'common.search.error.searchingSubtitle'"
                  [icon]="'fa-exclamation-circle'">
    </pas-feedback>

</div>
