@import '../../../scss/base/variables';

.largePanel {
  .mt-autocomplete__dropdown {
    width: 284px
  }
}

// (Landscape phones, 576px and up)
@media (min-width: 576px) {
  .largePanel {
    .mt-autocomplete__dropdown {
      width: 380px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .largePanel {
    .mt-autocomplete__dropdown {
      width: 450px;
    }
  }
}

