@import '../../../scss/base/_variables';

.table-detail-link {
  color: $dark-sky-blue;
  a{
    display: block;
    width: 100%;
    i {
      font-size: 1.1em;
      transition: transform .2s ease-in-out 0s;
      margin-right: 5px;
    }
    &:hover{
      text-decoration: underline;
      cursor: pointer;
      color: $dark-sky-blue;
      i{
        transform: scale(1.3);
      }
    }
  }
}
