<div>
    <mt-basic-filters #filtersBar
                      [filters]="filters"
                      [literals]="filterBarLiterals"
                      (search)="onSearchBasicFilter($event)"
                      (clear)="onClearBasicFilter()">
    </mt-basic-filters>

    <div *ngIf="firstSearchDone && !errorInSearch" class="table-wrapper">
        <ng-template #campaignDetailLinkTemplate let-campaignId="campaignId">
            <div class="table-detail-link">
                <a title="{{'campaigns.home.details' | translate}}" [routerLink]="['/campaigns', campaignId]">
                    <i class="fa fa-info-circle"></i>
                    <span class="d-md-none">{{"campaigns.home.details" | translate}}</span>
                </a>
            </div>
        </ng-template>

        <mt-table [uniqueId]="'campaign-search-table'"
                  [loading]="loading"
                  [showLoader]="false"
                  [columns]="tableColumns"
                  [rows]="tableRows"
                  [literals]="tableLiterals"
                  [enableDraggableColumns]="true"
                  [enableColumnsVisibilityEdition]="true"
                  (columnVisibilityChanged)="onColumnVisibilityChange($event)"
                  [enablePagination]="true"
                  [pagingData]="pagingData"
                  (pageChanged)="onPageChanged($event)"
                  (pageSizeChanged)="onPageSizeChanged($event)"
                  (sortClick)="onSortClick($event)">
        </mt-table>
    </div>

    <pas-feedback *ngIf="!firstSearchDone && !errorInSearch"
                  [title]="'common.search.inviteTitle'"
                  [message]="'common.search.inviteSubtitle'"
                  [icon]="'fa-trophy'">
    </pas-feedback>

    <pas-feedback *ngIf="errorInSearch"
                  [title]="'common.search.error.searchingTitle'"
                  [message]="'common.search.error.searchingSubtitle'"
                  [icon]="'fa-exclamation-circle'">
    </pas-feedback>
</div>
