<div>
    <div *ngIf="!errorInSearch">
        <mt-table #table [uniqueId]="'player-active-and-pending-bonuses-table'"
                    [loading]="false"
                    [showLoader]="false"
                    [columns]="tableColumns"
                    [rows]="tableRows"
                    [literals]="tableLiterals"
                    [enableRowSelection]="enableRowSelection"
                    [rowSelectionMode]="rowSelectionMode"
                    [rowSelectionKey]="rowSelectionKey"
                    [actionButtons]="tableButtons"
                    (selectedRowsChange)="onSelectedRowsChange($event)"
                    [enableDraggableColumns]="false"
                    [enableColumnsVisibilityEdition]="false"
                    (actionButtonClick)="onActionButtonClick($event)"
                    [enablePagination]="false">
        </mt-table>
    </div>

    <pas-feedback *ngIf="errorInSearch"
        [title]="'common.search.error.searchingTitle'"
        [message]="'players.bonuses.activeAndPendingBonuses.errorLoadingBonuses'"
        [icon]="'fa-exclamation-circle'">
    </pas-feedback>
</div>

