<div class="player-bonuses" *mtPermissions="viewActiveAndPendingBonusesPermission">
    <h5>{{'players.bonuses.activeAndPendingBonuses.title' | translate}}</h5>
    <pas-player-active-and-pending-bonuses></pas-player-active-and-pending-bonuses>
</div>
