<div>
    <mt-basic-filters *ngIf="filtersLoaded"
                      #filtersBar
                      [hidden]="!filtersLoaded"
                      [filters]="filters"
                      [literals]="filterBarLiterals"
                      [allowEmptySearch]="true"
                      (search)="onSearchBasicFilter($event)"
                      (clear)="onClearBasicFilter()">
    </mt-basic-filters>

    <div *ngIf="firstSearchDone && !errorInSearch" class="table-wrapper">
        <mt-table [uniqueId]="'player-details-transactions-table'"
                  [loading]="false"
                  [showLoader]="false"
                  [columns]="tableColumns"
                  [rows]="tableRows"
                  [literals]="tableLiterals"
                  [enableDraggableColumns]="false"
                  [enableColumnsVisibilityEdition]="false"
                  [enablePagination]="true"
                  [pagingData]="pagingData"
                  [maxColumnsWidth]="tableMaxColumnWidth"
                  (pageChanged)="onPageChanged($event)"
                  (pageSizeChanged)="onPageSizeChanged($event)"
                  [enableExport]="true"
                  (exportClick)="onExportClick($event)">
        </mt-table>
    </div>

    <pas-feedback *ngIf="!firstSearchDone && !errorInSearch"
                  [title]="'common.search.inviteTitle'"
                  [message]="'common.search.inviteSubtitle'"
                  [icon]="'fa-exchange'">
    </pas-feedback>

    <pas-feedback *ngIf="errorInSearch"
                  [title]="'common.search.error.searchingTitle'"
                  [message]="'common.search.error.searchingSubtitle'"
                  [icon]="'fa-exclamation-circle'">
    </pas-feedback>

</div>
