<div class="modal-header">
    <h4 class="modal-title">{{'transactions.withdrawals.export-sepa.title' | translate}}</h4>
    <button type="button" class="close" aria-label="Close"
        (click)="activeModal.close('CANCEL')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="datepicker-container">
        <div class="mt-datepicker-input"
             [class.mt-datepicker-input--focused]="isDateFromOpened === true">
            <input [mtDatepicker]="dateFromDatepicker"
                   [(ngModel)]="model.dateFrom"
                   placeholder="{{'common.from' | translate}}">
            <mt-datepicker-toggle [for]="dateFromDatepicker"></mt-datepicker-toggle>
            <mt-datepicker #dateFromDatepicker></mt-datepicker>
        </div>
        <div class="mt-datepicker-input"
             [class.mt-datepicker-input--focused]="isDateToOpened === true">
            <input [mtDatepicker]="dateToDatepicker"
                   [(ngModel)]="model.dateTo"
                   placeholder="{{'common.to' | translate}}">
            <mt-datepicker-toggle [for]="dateToDatepicker"></mt-datepicker-toggle>
            <mt-datepicker #dateToDatepicker></mt-datepicker>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-backward"
            type="button"
            (click)="activeModal.close('CANCEL')">
        {{'common.cancel' | translate}}
    </button>
    <button class="btn btn-forward"
            type="button"
            (click)="exportButtonClick()"
            [disabled]="!model.dateFrom || !model.dateTo">
        {{'common.export' | translate}}
    </button>
</div>
