@import "~mt-web-components/src/themes/mt/shared/colors";

.cancel-bonus {
  &__info {
    background: mt-color("neutral");
    padding: 8px;
    font-size: 14px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    p {
      margin: 0;
      padding: 10px;
    }
  }

  &__cancel-type {
    padding: 10px;
  }

  &__cancel-type-selection {
    label {
      display: flex;
    }
  }
}
