<div class="modal-header">
    <h4 class="modal-title">{{'players.bonuses.cancelPlayerBonus.title' | translate}}</h4>
    <button type="button" class="close" aria-label="Close"
        (click)="activeModal.close('CANCEL')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body cancel-bonus">
    <div *ngIf="currentStep === playerCancelBonusStepEnum.Select">
        <p>{{'players.bonuses.cancelPlayerBonus.warnMsg' | translate}}</p>
        <div class="cancel-bonus__info">
            <div class="cancel-bonus__info">
                <ul>
                    <li><strong>{{'players.bonuses.entity.name' | translate}}:</strong> {{ bonus.displayName }}</li>
                    <li><strong>{{'players.bonuses.entity.status' | translate}}:</strong> {{ bonus.translatedStatus }}</li>
                    <li><strong>{{'players.bonuses.entity.dateOfActivation' | translate}}:</strong> {{ bonus.formattedDateOfActivation }}</li>
                    <li *ngIf="bonus.status === playerBonusStatusEnum.Active">
                        <strong>{{'players.bonuses.entity.dateOfExpiration' | translate}}:</strong> {{ formattedDateOfExpiration }}
                    </li>
                    <li><strong>{{'players.bonuses.entity.bonusBalance' | translate}}:</strong> {{ bonus.formattedBonusBalance }}</li>
                </ul>
            </div>
        </div>
        <div class="row cancel-bonus__cancel-type">
            <div class="col-md-6 cancel-bonus__cancel-type-selection">
                <p>{{'players.bonuses.cancelPlayerBonus.cancelTypes.title' | translate}}</p>

                <label class="custom-control custom-radio">
                    <input type="radio"
                        class="custom-control-input"
                        id="radio_total"
                        [value]="cancelTypeEnum.Total"
                        [(ngModel)]="selectedCancelType"
                        (change)="cancelTypeChanged()">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{'players.bonuses.cancelPlayerBonus.cancelTypes.total.title' | translate}}</span>
                </label>

                <label class="custom-control custom-radio">
                    <input type="radio"
                        class="custom-control-input"
                        id="radio_partial"
                        [value]="cancelTypeEnum.Partial"
                        [(ngModel)]="selectedCancelType"
                        (change)="cancelTypeChanged()">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{'players.bonuses.cancelPlayerBonus.cancelTypes.partial.title' | translate}}</span>
                </label>
            </div>

            <div class="col-md-6 cancel-bonus__cancel-amount">

                <p>{{'players.bonuses.cancelPlayerBonus.cancelAmount' | translate}}</p>

                <div class="cancel-bonus__cancel-amount-box">
                    <div class="input-group" [ngClass]="{'has-danger' : isInvalidCancelAmount()}">
                        <input type="number" class="form-control"
                            min="0"
                            [max]="bonus.bonusBalance"
                            [(ngModel)]="selectedCancelAmount"
                            [disabled]="selectedCancelType === cancelTypeEnum.Total">
                        <div class="input-group-addon">{{currencyCode}}</div>
                    </div>
                    <div class="form-group" *ngIf="invalidCancelAmountMsg" [ngClass]="{'has-danger' : isInvalidCancelAmount()}">
                        <span class="form-control-feedback form--error">{{invalidCancelAmountMsg}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="cancel_bonus__cancel-reason">
            <p>{{'players.bonuses.cancelPlayerBonus.cancelReason' | translate}}
                <small>({{'players.bonuses.cancelPlayerBonus.cancelReasonHint' | translate}})</small>
            </p>
            <div class="form-group">
                <textarea rows="2" class="form-control" [(ngModel)]="selectedCancelReason"></textarea>
            </div>
        </div>
    </div>

    <div *ngIf="currentStep === playerCancelBonusStepEnum.Confirm">
        <p class="m-0">{{confirmationMsg}}</p>
    </div>
</div>

<div class="modal-footer">
    <div *ngIf="currentStep === playerCancelBonusStepEnum.Select">
        <button class="btn btn-backward" type="button" (click)="activeModal.close('CANCEL')">
            {{'common.cancel' | translate}}
        </button>

        <button class="btn btn-forward" type="button" [disabled]="!canDoCancel()" (click)="nextStep()">
                {{'common.confirm' | translate}}
        </button>
    </div>

    <div *ngIf="currentStep === playerCancelBonusStepEnum.Confirm">
        <button class="btn btn-backward" type="button" (click)="prevStep()">
            {{'common.back' | translate}}
        </button>

        <button class="btn btn-forward" type="button" [disabled]="!canDoCancel()" (click)="onConfirmationClick()">
            {{'players.bonuses.cancelPlayerBonus.confirm' | translate}}
        </button>
    </div>
</div>
