<div class="transaction-main">
    <mt-home-template [iconClasses]="'fa fa-exchange'"
                      [pageTitle]="'transactions.home.title' | translate"
                      [mainActionsTitle]="'home.mainActions' | translate"
                      [mainActionsContent]="actions"
                      [savedSearchesTitle]="'home.savedSearches' | translate"
                      [savedSearchesContent]="searches"
                      [dashboardTitle]="'home.dashboard' | translate"
                      [dashboardContent]="dashboardItems"
                      (savedSearchClick)="onSavedSearchClick($event)">
    </mt-home-template>
</div>
