<div class="modal-header">
    <h4 class="modal-title">{{'common.approve' | translate}}</h4>
    <button type="button" class="close" aria-label="Close"
        (click)="activeModal.close('CANCEL')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body approve-withdrawal-error-details">
    <p>
        {{'transactions.withdrawals.response.error' | translate}}
    </p>
    <div class="approve-withdrawal-error-details-table-container">
        <mt-table [uniqueId]="'approve-withdrawal-error-details-table'"
                  [loading]="false"
                  [showLoader]="false"
                  [columns]="tableColumns"
                  [rows]="tableRows"
                  [literals]="tableLiterals"
                  [enableDraggableColumns]="false"
                  [enableColumnsVisibilityEdition]="false"
                  [enablePagination]="false"
                  [enableRowSelection]="false">
        </mt-table>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-backward" type="button" (click)="activeModal.close('CANCEL')">
        {{'common.close' | translate}}
    </button>
</div>
