<div class="modal-header">
    <h4 class="modal-title">{{'transactions.withdrawals.approve.title' | translate}}</h4>
    <button type="button" class="close" aria-label="Close"
        (click)="activeModal.close('CANCEL')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body approve-withdrawal-details">
    {{approveMsg}}
    <button class="btn btn-link" (click)="toggleDetailsDisplay()">
        <span *ngIf="!showDetails">{{'transactions.withdrawals.approve.seeDetails' | translate}}</span>
        <span *ngIf="showDetails">{{'transactions.withdrawals.approve.closeDetails' | translate}}</span>
    </button>

    <div *ngIf="showDetails" class="approve-withdrawal-details-table-container">
        <mt-table [uniqueId]="'approve-withdrawal-details-table'"
                  [loading]="false"
                  [showLoader]="false"
                  [columns]="tableColumns"
                  [rows]="tableRows"
                  [literals]="tableLiterals"
                  [enableDraggableColumns]="false"
                  [enableColumnsVisibilityEdition]="false"
                  [enablePagination]="false"
                  [enableRowSelection]="false">
        </mt-table>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-backward" type="button" (click)="activeModal.close('CANCEL')">
        {{'common.cancel' | translate}}
    </button>
    <button class="btn btn-forward" type="button" (click)="approveWithdrawals()">
        {{'common.approve' | translate}}
    </button>
</div>
