@import '../../../scss/base/variables';

.state {
  width: 100%;
  padding: 1em;
  text-align: center;
  &__icon {
    margin-top: 1em;
    display: block;
    font-size: 4em;
    color: $header-grey;
  }
  &__title {
    display: block;
    font-weight: 600;
    margin: 1em 0 1.5em;

  }
  &__subtitle {
    display: block;
  }
}