<div class="state">
    <span class="state__icon">
        <i class="fa {{icon}}"></i>
    </span>

    <span *ngIf="title" class="state__title">
        {{title | translate}}
    </span>

    <span *ngIf="message" class="state__subtitle">
        {{message | translate}}
    </span>

    <ng-container *ngTemplateOutlet="customTemplate"></ng-container>
</div>
