@import "~mt-web-components/src/themes/mt/shared/colors";

.modal-body {
  max-height: 75vh;
  overflow-y: auto;
  .summary {
    background-color: mt-color("neutral");
    border: 1px solid mt-color("neutral", "accent");
    padding: 1em;
    margin-bottom: 1em;
  }
}
