<div class="settings-home">

    <mt-home-template [iconClasses]="'fa fa-cog'"
                      [pageTitle]="'settings.home.title' | translate"
                      [dashboardTitle]="'settings.home.language' | translate"
                      [dashboardContent]="dashboardItems">
    </mt-home-template>


    <ng-template #languageSelectorTemplate>
        <div class="languages">
            <div>
                <span>{{'settings.home.changeLanguageTip' | translate}}</span>
            </div>
            <div>
                <mt-lang-selector [languages]="appLanguages"
                                  (languageChange)="onLanguageChanged($event)">
                </mt-lang-selector>
            </div>
        </div>
    </ng-template>
</div>
